﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MICKEYsoftware</title>
<link rel="icon" href="~/mickey.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/mickey.ico" type="image/x-icon" />
</head>
<body style="color:#ff8080;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
	
			<br/>
			<br/>
			<br/>
			<br/>
		<asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="312" HorizontalAlign="Center">
			Here becamming to your errible maternalists cell MICKEYsoftware. Through webs we know do anything, through anyble, 
			to professional fotos and webmastering at all. From our creation we can show you text game (but in czech language)
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://kino.mickey-software.cz/">KINO</asp:HyperLink>,     
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://matika.mickey-software.cz/">Rezerwing of home-learning</asp:HyperLink>     
			(200,-Kč a year for a lector and for case of to-treamming 200,-Kč an hour) else here we are embassing game for fun and trainning of a fight clear 
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="https://game4upper.com/">Tarum game4upper</asp:HyperLink>.<br/>     
			<br/>
			<br/>
			Martin Míka<br/>
			Na Líše 242/28<br/>
			32600 Pilsen.cz-Koterov<br/>
			mm@mickey-software.cz<br/>
			<br/>
			tel.: +420 773 66 91 45<br/>
			DIČ: cz7804292078<br/>
			IČ: 87069873<br/>
			<br/>
			<br/>
			We was cooperated on web sites
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.real-price.info/">www.real-price.info</asp:HyperLink>,
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.white-magic.net/">www.white-magic.net</asp:HyperLink>,
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.podivna-zahrada.cz/">www.podivna-zahrada.cz/</asp:HyperLink>,
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.hrnek-kafe.cz/">www.hrnek-kafe.cz</asp:HyperLink>,
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.cup-of-cofee.com/">www.cup-of-cofee.com</asp:HyperLink>,
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.live-pass.info/">www.live-pass.info</asp:HyperLink>
	or
        <asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="http://www.blue-envelope.net/">www.blue-envelope.net</asp:HyperLink> .
			<br/>
			<br/>
			<br/>
			<asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="~/Default.aspx?set=1">... Česká verze...</asp:HyperLink><br/>     
			
		</asp:TableCell><asp:TableCell VerticalAlign="Top" HorizontalAlign="Center">
			
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<asp:Image runat="server" ImageUrl="~/mickey_logo.png"/><br/><br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<asp:HyperLink runat="server" ForeColor="#87aade" NavigateUrl="~/mickey_desktop.png">... and for case of interrest yours - our Desktop Picture...</asp:HyperLink><br/>     
			
		</asp:TableCell></asp:TableRow></asp:Table>
	
	</div>
	</form>
</body>
</html>
