﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>chyba</title>
</head>
<body style="color:#ff8080;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
            Jste svědky nevynucené chyby vnitřní či dodané ;o). Pokračujte dále v provozu. (mm@mickey-software.cz)
        </asp:Panel>
    </div>
    </form>
</body>
</html>
