﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Download.aspx.cs" Inherits="download" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>-d-o-w-n-l-o-a-d-
    </title>
<link rel="icon" href="~/hrnek_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/hrnek_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/hrnek_icon.png"/> 
<meta name="msapplication-TileColor" content="#e9e9e9"/>
</head>
<body style="background-color:#e9e9e9;color:#40339d;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" HorizontalAlign="Center">
    <h3>download:</h3>
         Search (hledací) #<asp:TextBox ID="TextBoxSearch" runat="server" AutoPostBack="true" OnTextChanged="TextBoxSearch_TextChanged"></asp:TextBox>
	<asp:Label runat="server" OnPreRender="SearchMax_PreRender"/>
        <br />
        <br />
        <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell HorizontalAlign="Center" VerticalAlign="Middle">
            <asp:Image ID="ImageKafe" runat="server" ImageUrl="~/Kafe.ashx?kafe=0"/>
                                                </asp:TableCell><asp:TableCell HorizontalAlign="Center" VerticalAlign="Middle">
        <asp:Table ID="TableSeznam" runat="server" OnPreRender="TableSeznam_PreRender"></asp:Table> 
        <br />
        --- <asp:Button ID="ButtonPageDown" runat="server" Text="<<<"  OnClick="ButtonPageDown_Click"/> ------
        <asp:Button ID="ButtonPageUp" runat="server" Text=">>>"  OnClick="ButtonPageUp_Click"/> ---
                                                    </asp:TableCell></asp:TableRow>
        </asp:Table>
        <br />
	<asp:HyperLink runat="server" ForeColor="#40339d" NavigateUrl="~/Default.aspx" ID="HLBAck">Zpátky. (Back.)</asp:HyperLink>
        <br />
         </asp:Panel></div>
    </form>
</body>
</html>
