﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ollo eva</title>
<meta http-equiv="refresh" content="5;url=Default.aspx"/>
<link rel="icon" href="~/mickey.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/mickey.ico" type="image/x-icon" />
</head>
<body >
    <form id="form1" runat="server">
    <div>
	
                <asp:Image runat="server" ImageUrl="~/OLLO.ashx" Width="1700" Height="900" />
    </div>
	</form>
</body>
</html>
