﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Code.aspx.cs" Inherits="live_CODE" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" translate="no">

<head runat="server">
    <title>CODE CUPs</title>
</head>

<body style="background-color:#e9e9e9;color:#40339d;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
<asp:Image runat="server" ImageUrl="http://tesla.modra-schranka.cz/tesla.png" Height="323" />
+
<asp:Image runat="server" ImageUrl="http://mickey-software.cz/mickey_logo.png" Height="323" />
<br /><br />
<a href="http://mickey-software.cz/">MICKEYsoftware presents</a><br />
<br />
	<asp:Panel ID="P1" runat="server" OnLoad="F0_OnLoad">
   
</asp:Panel>
<center><a href="Default.aspx">-..-</a></center>

    </div>
    </form>
</body>

</html>
