<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="download_Default" %>
<html>
<head runat="server">
    <title>-C-U-P--O-F--C-O-F-F-E-E-</title>
<link rel="icon" href="~/path2986.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path2986.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/path2986.png"/> 
<meta name="msapplication-TileColor" content="#e9e9e9"/>
</head>
<body style="background-color:#e9e9e9;color:#40339d;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" HorizontalAlign="Center">
        <asp:HyperLink NavigateUrl="~/Social Norms.pdf" runat="server" ForeColor="#40339d">Social Norms.pdf .</asp:HyperLink><br/>
	<asp:HyperLink NavigateUrl="~/diplom.pdf" runat="server" ForeColor="#40339d">Dimplom at Docent from OLD Gandalf.</asp:HyperLink><br/>
	<br/>
	<br/>
	<asp:Image runat="server" ImageUrl="~/path2986.png"/><br/>
	<br/>
	<asp:HyperLink NavigateUrl="http://hrnek-kafe.cz/" runat="server" ForeColor="#40339d">Hallo. Don't your want to travel?<br/>Take CUP OF COFFEE in the Fortness of Europa.</asp:HyperLink>
<br/>
	<br/>
	<br/>
	<br/>
	Advertisment: Try new English (<asp:Label runat="server" OnLoad="LoadL"/>). ;oD<br/>
	<asp:HyperLink NavigateUrl="~/Code.aspx" runat="server" ForeColor="#40339d">CODE of this.</asp:HyperLink><br/>
	<br/>
	<br/>
	<br/>
	Manufactured for Gandalf AD2015.<br/>
	</asp:Panel>
    </div>
    </form>
</body>
</html>
