﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Error</title>
</head>
<body style="background-color:#e9e9e9;color:#40339d;font-family:Calibri
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" HorizontalAlign="Center">
	ERROR here - ERROR there - I am insane from it!<br />
	mitti@white-magic.net
<br /><br /><br /><br /><br /><br />
	If you see this often, please be paecefull ;o) .<br />
            ... and write down to e-mail.<br />

    </asp:Panel>
    </div>
    </form>
</body>
</html>
