<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>1tarum2cards1.com</title>
<link rel="icon" href="~/tarum.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/tarum.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9
	">
    <form id="form1" runat="server">
        <div>
            <asp:Panel runat="server" HorizontalAlign="Center">
            <br />
		<asp:ImageButton runat="server" ImageUrl="~/torch.png" OnClick="Torch"/><br />
		If you want to know something,<br />
		you're taking each,<br />
		if you want to touch its thing,<br />
		you can to reach!<br />
		<asp:Label runat="server" ForeColor="#999999">3torch13.production as AdVERsion.</asp:Label><br />
		<br /><br /><br />
            <asp:Label runat="server" Font-Size="32" ToolTip="Uppers ever wins!">Tarum to cards!</asp:Label> <br />
           <br /><br /><br />
            <asp:Image runat="server" ImageUrl="~/CardBack.ashx" ToolTip="That's yours Card. (*.png)"/><br /><br /><br />
            <asp:HyperLink ID="Start1" runat="server" ForeColor="Black" NavigateUrl="~/Tarum.aspx" ToolTip="... enter ...">Take it easy, not like W.O.R.L.D.,<br/>take the case from wise to sword.</asp:HyperLink><br /><br />
<h2>Tarum dream.</h2>
                <asp:Table runat="server" Width="200" HorizontalAlign="Center"><asp:TableRow><asp:TableCell HorizontalAlign="Center"> My mother went home, when came big Stranger called INUNAN. It was low. My lowest seans was full of detere.<br />
"Why not! Why not!" your are listening from middle of consequency - he was talking with group of people.<br />
Then INUNAN started to fight by way of Holly Darkness with group of four heads. Man before INUNAN feld at the start
of the fight to his back by strange magic punch and two beside was dead by strong INUNAN's fists. Then two allowed in the fight started to run away.<br />
"KING is dead - lets lived a KING!" screamed INUNAN to the garry.<br />
"Hurray!!!" screamed hole village.<br />
Your was sead that everything is good and gave a trip away from there - place feld to plague disease. <br /><br />
"He is good - our god," said old woman, telling a story.</asp:TableCell></asp:TableRow></asp:Table><br /><br /><br />
            <asp:HyperLink ID="Start2" runat="server" ForeColor="Black" NavigateUrl="~/Tarum.aspx">Computer cartomancy. - Tarum to you.</asp:HyperLink><br /><br />
(for help, your must to stop yours cursor on the card and be peacefull (yours computer knows everything).) (-:<br /><br /><br />
            <asp:HyperLink ID="Back" runat="server" ForeColor="Black" NavigateUrl="http://podivna-zahrada.cz/?dale=pravdive" Visible="false">Back.<br /><br /></asp:HyperLink> 
            (c) AD2015 TAKE AIR ABOUT MY NUGGETS production.<br />
		</asp:Panel>
    </div>
    </form>
</body>
</html>
