﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Bulletin.aspx.cs" Inherits="Bulletin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Bulletin of Real Price</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<asp:Table runat="server">
<asp:TableRow><asp:TableCell>
<asp:Image runat="server" ImageUrl="~/real_price_help.png" />
<br />
<asp:Image runat="server" ImageUrl="~/P.S..jpg" Width="697"/>
<br />
<asp:Image runat="server" ImageUrl="http://podivna-zahrada.cz/download/IMG_1949_Howles_moving_castle.JPG" Width="697"/>
<br />
<asp:Image runat="server" ImageUrl="http://podivna-zahrada.cz/download/rose.png" Width="697"/>
</asp:TableCell><asp:TableCell VerticalAlign="Top">				
	<a href="http://www.real-price.info/real_price_logo_plus.png">Real Price logo</a>
	<br /><br />
    2012-1-7<br />
    <a href="http://www.real-price.info/PF2012_the_or.JPG">PF 2012</a> from The Or. It jamed in production ;o). This was really crazy Chrismas.<br />
    <br /><br />
	2012-2-3<br />
	Add enter sound. I am sorry, but in some internet browsers with default internet settings it can't be played.
	<br /><br />
	2012-2-17<br />
	Sound work with all famouse browsers.
	<br /><br />
	2012-2-26<br />
	... was fatamorgana ;o). With Internet Explorer no problem, for Comodo Dragon (the safest browser all around the world) and Chrome you must install Quick Time Player and for FireFox I have no words, because it wrote down: Quick Time fall down ;o).
	<br /><br />
	Meanwhile, I am finding good czech<->english translater for a sometimes translate motion of prizegiven and etc..
	<br /><br />
	Add picture from my most favourite TV serial Father Ted. Reasons why doesn't Doodle want to be hurt, why is Doodle stupid, makes me crazy. Real Price is my therapy. Unknown
	<br /><br />
	2012-2-27	<br />
	<a href="Call.aspx">I have so low number of telephone incomming calls...</a>
	<br /><br />
	2012-2-28	<br />
	No answer - no fuck. bye! 2012/3/4 ... me, ofcourse ;o)
	<br /><br />
	2012-3-4<br />
	Today I find something in the History. <a href="IMG_1533.jpg"> And this do my cofee for me. - Kung-Fu</a> (2012/3/12 is it tree, not a Clear bomb)
	<br /><br />
	2012-3-11<br />
	Video advertisment add. So, have a peacefull day ;o).
	<br /><br />
	2012-3-12<br />
	Compliment to Robert Miles and personal opinium (writing on the end). Nothing personal to you hangers and fans.
	<br /><br />
	2012-4-6<br />
	Now I find that Compliment to Robert Miles is without sound in Win. Media Player and in BS Player Free it is OK. I wish you to have good sound on your computers.
	<br /><br />
	2012-5-1<br />
	Forgoten: <a href="step_bottle.mpg">Step Bottle</a>
	<br /><br />
	2012-6-12<br />
	Today was real-price strike agaist <strike>England</strike> and Tesco: <a href="Strike.aspx">Strike.aspx</a>
	<br /><br />
	2012-11-23<br />
	... little gift for you "important" people: try to install COMODO Internet security Pro and <a href="Default.aspx?set=1">here</a> is hard settings for CIS Pro.
	<br /><br />
	2000.13-2-1<br />
	Thank you Scotland Yard, title <a href="http://www.the-or.cz/Untitled.mpg">here</a> is really true ;o).
	<br /><br />
	2000.13-2-10<br />
	Thank you Scotland Yard, title <a href="http://www.the-or.cz/Untitled2.mpg">here</a> is really true ;o).
	<br /><br />
	2000.13-2-14<br />
	Thank you Scotland Yard, filmars find this day as a end of their schisofreny - find that c is a right to exatly copying of author's view - and they <a href="http://www.the-or.cz/pic/Elefants and hens 001 001.mpg">shame</a> for advertismet in film and serials and cutting end titles. Something for you my ladies (both (b)enders).
	<br /><br />
	2000.13-2-17<br />
	<b>Comodo Internet Security Pro 2013</b> was be marked like a >"dernium supernium apum"< before most minutes.
	<br /><br />
	2014-4-23<br />
	<a href="pf14_real-price.png">PF 2014</a> jamed in production, so enjoy it. I was lovely Chrismas. Thanks to Kan-Li.
	<br /><br />
	2014-7-25<br />
	An <a href="http://podivna-zahrada.cz/download/diplom.pdf">interesting thing</a> finded for you.
	<br /><br />
	2014-8-11<br />
	I find an <a href="https://www.live-pass.info/LiVE-pAss.exe">application LiVE-pAss.exe</a> for you.
	<br /><br />
	2014-10-15<br />
	Was find a talent ;o) - <a href="http://podivna-zahrada.cz/download/warp.mp3">improove</a>.
	<br /><br />
	2014-12-21<br />
	<a href="~/pf2015.png">PF 2015</a> and <a href="~/pf2015_sharp.png">PF 2015 dedicated to Manata</a>.
	<br /><br />
	2018-9-19<br />
	<a href="pf18.png">PF 2018</a> jamed in production, I may say USA production was disturbing. <a href="http://cup-of-coffee.org/Social%20Norms.pdf">Live great</a>!
.
	<br />

</asp:TableCell></asp:TableRow>
</asp:Table>
    </div>
    </form>
</body>
</html>
