<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Call.aspx.cs" Inherits="Call" %>
<html>
<head runat="server">
<title>Call...</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>
<body>
<form id="form1" runat="server">

</form>
<embed height="0px" width="0px" src="Recorded022612223608.WAV" />
</body>

</html>