﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Real Price</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>

<body>
        <asp:Panel ID="PanelZvuk1" runat="server" OnPreRender="PanelZvuk_PreRender" Visible="true">
<embed height="0px" width="0px" src="morcheeba.mp3" />
</asp:Panel>
        <asp:Panel ID="PanelZvuk2" runat="server" Visible="false">
<embed height="0px" width="0px" src="1.wav" />
</asp:Panel>
    <form id="form1" runat="server">
    <div>

        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
  <a href="http://www.real-price.info/Bulletin.aspx">Bulletin of slowly dick</a> 
	---- <a href="http://podivna-zahrada.cz/Pexeso.aspx">Game for everybody.</a>
	---- <a href="rect4106.png">... for Mickey Software...</a>
	---- <a href="Default1.aspx">RAP (defect in "timing" of our law)</a>
	---- <a href="Poezie.aspx">... Czech poetry...</a>
	---- <a href="https://tesla.modra-schranka.cz/komunni_parte.png">FUNERAL NOTICE OF KOMUNA</a>
	---- <a href="Poll.aspx">Poll: Who love some Morcheeba's days</a>
	---- <a href="http://www.real-price.info/real_desktop_picture.jpg">DESKTOP PICTURE 0</a>
	---- <a href="http://www.real-price.info/real_desktop.png">DESKTOP PICTURE crazy</a>
	---- <a href="http://www.real-price.info/real_desktop2.png">DESKTOP PICTURE black</a>
	---- <a href="http://www.real-price.info/real_desktop_real-world.png">DESKTOP PICTURE real-world</a>
	<br /><br />
      <asp:Label runat="server" ForeColor="blue" >Maybe in Windows, maybe with</asp:Label>
	 <a href="http://www.real-price.info/bsplayer272.setup.exe">BS player FREE</a>
      <asp:Label runat="server" ForeColor="blue" >you can enjoy this:</asp:Label>
	 <a href="http://www.real-price.info/real_adv.mpg">Video advertisement</a>
	---- <a href="http://www.real-price.info/Original.aspx">Compliment to Robert Miles (In my dreams)</a>
	---- <a href="http://www.real-price.info/world_is_simple_s.mpg">2nd video advertisement</a>
	<a href="http://www.real-price.info/world_is_simple_s_at_all.mpg">(dedicated version)</a>
	---- <a href="http://www.real-price.info/world_is_simple_s__surely.mpg">3rd video advertisement</a>
	<br /><br />
      <asp:Label ID="LabelProd" runat="server" Font-Bold="True" ForeColor="#FF6666" Font-Size="XX-Large">I Have No Many for Statue for Hangers<br>production<br>(brave-part of Psi's Co.)<br>presents</asp:Label>
      <br />
<asp:ImageButton runat="server" ImageUrl="~/text3763.png" OnClick="OnClickDreams" Width="420" ToolTip="http://www.c-o-b-r-a-s.org"></asp:ImageButton>    
<br />

      <asp:Label ID="LabelRP" runat="server" Text="Real Price+" Font-Bold="True" ForeColor="#FF6666" Font-Size="102"></asp:Label>
      <br />
      <asp:Label ID="LabelUnder" runat="server" Font-Bold="True" ForeColor="#FF6666" Font-Size="XX-Large">... if they want, of course...</asp:Label>
      <br />
      <br />
Owner of domen: (<asp:Label runat="server" Text="Somebodies" ForeColor="#FF6666"></asp:Label> & Unknown Soldier)<br />

<br />
<br /> <br />
  IT NOT EASY TO GET/BE REAL ON EARTH,<br />
NOW...<br />
<br />
... IS INCOMMING <u><b>REAL PRICE</b></u>
<br />
PRIZE FOR ENTERPRISE IN THE WORLD OF HUMAN<br />
(original: Za počin ve světě lidském.)<br />
<asp:ImageButton ID="RP" runat="server" Height="500" ImageUrl="real_price_logo_plus_live.png" OnClick="RP_OnClick" ToolTip="Click for real help."></asp:ImageButton><br />
G-: SUGGESTIONS TO <a href="mailto:mitti@white-magic.net">INFO E-MAIL</a> --- FOR EXPLANATION OF LOGO READ <a href="http://www.real-price.info/Bulletin.aspx">BULLETIN</a> --- FOR HELP CLICK ON LOGO OF REAL PRICE :-D
<br /><br />
<asp:Label runat="server" BackColor="#a4823b">
<b>HANGERS: (IF THEY WANT, OF COURSE) (2013-1-13 We may now! It was long! Thanks)</b><br />
<asp:Table runat="server" BackColor="#a4823b" BorderStyle="Solid" BorderWidth="1px" GridLines="Both" BorderColor="Black" HorizontalAlign="Center">
<asp:TableRow><asp:TableCell HorizontalAlign="Center">
<strike> 1st - <b>Vodafone</b></strike>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
for great name (in czech: Waterfone)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
2nd - <b>Tesco CZ</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 24hours + on-line food (itesco) - [2015-4-3 20:03] was striked in time of corumted mafia ;o) not any more
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 3rd - <b>MicroSoft</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for software products what functioned in great world society
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 4th - <b>Kingston</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for flashstick DataTraveler certificated for MS Windows
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 5th - <b>HP</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for <a href="http://youtu.be/hFUkEEY_u2I">TV advert</a> with Martians, which saving their civilization before our technological boom through copy-machine HP
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 6th - <b>COMODO</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for free internet security with firewall (for making that way PC WARANTy GUARANTIE trues)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 7th - <b>*CENSORED*</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for cimena on the edge of Angel's city ;o))))))))))))))))))))))))))
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 <strike>8th - <b>EMGETON</b></strike>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 <strike>for <a href="http://www.real-price.info/EMGETONVISION3DVB-TSCART_1.jpg">EMGETON VISION 3i</a> - DVB-T tuner, which solving 2 unit problem (set-top-box and old TV) by a desing and nice idea</strike>
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 9th - <b>AB Team</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for BS Player FREE for playing what other players doesn't play (you make video in original and paid Womble DVD maker and after day I find that video is without music - bad to world of they, if I am legal user and in video isn't bad contents (love cannot be bad context) - I find out this feature when put sign BUISNESS IS BUISNESS, BUT GAME OF LIFE HURTS after advertisment to new clear bomb (I like atomic energy) and video is without sound in Windows Media Player - enjoin it in BS Player FREE - comliment to Robert Milles - most high on this page - be cool and nobody (meanwhile makers of wapons) can hurt you - how much are makers of wapon and how much are all people? Die for it peacefully, please, I going same way - Unknown Soldier) and with BS player everything is OK - you have it! thanks(meanwhile for my compliment to R. Milles) <i>(note2012-12-30 In Windows 8 
Media Player play it now! Great! Microsoft have a RP also)</i>
<i>(note2014-10-4 In Windows 8 
Media Player doesn't play it now! Great! Microsoft have a RP also) {note2018-9-19 TV & Films in Windows 10 play it with sound. Great!}</i>
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 10th - <b>Christian Ghisler</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 for great work above ftp (Qq;o0 for you Mr. Ghisler )( 10th RP was striked for a while) (webmaster of this web is slowly dick --"But I am thinking")
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 11th - <b>COMODO</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2012-11-23) for setting in C. Internet Security Pro 2012 -- Block all unknown request of installed aplications - Welcome in COMODO Revolution
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 12th - <b>ZAK TV</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2012-12-9) for TV block "how <u>will</u> be the bio recomendation" on the street and that way making wather better for living - more rain please, and not lots of - thank you Mr. Great Mashine of Hydrometerology ;o)<br />

</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 13th <b>PHILIPS</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
     (2012-12-20) for first for exact design of PC monitor  - Philips Brilliance Moda. <strike>And that has VGA and HDMI connector only.</strike> (sended 2014-6-5)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 14th <b>DIETORELLE</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2013-2-7) for Frutti di bosco for use beeswax like a fillet. Note: Overdose of theese kandys leads to laxative effects.
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
 15th <b>KIK textil - discount</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2013-2-10) for super things and textil. Note: Overdose of theese kandys leads to laxative effects.
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
16th <b>LR Health & Beauty Systems GmbH</b> 
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
(2014-1-15) for their aloe vera tooth gel exists. (2014-10-3 RP for LR was striked for a while) (AD2015-5-20 ... and LR aloe vera tooth gel is without fluor)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
17th <b>www.bikinibodysecrets.net</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2014-3-7) for selling of perls Accu-Slim - not for weight lose only.
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
<strike>18th <b>TradeNet</b></strike>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2014-3-26) <strike>for their laundry ball exists.</strike> (Fish said NO)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
... and wish to world:
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2014-10-19) equability in judicature ;o)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
19th <b>PMDP corp. Pilsen</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2015-4-7) for tolerance on the ride with INUNAN ;o) (city vehicles)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
20th <b>TESCO CZ</b>
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2015-4-8) for self-service cash desks (for steelling fight with communism)
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
at last 21th <b>TIW corp.</b> in memoriam
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2015-4-9) for annexxing of Prague in fear of darkness
</asp:TableCell></asp:TableRow><asp:TableRow><asp:TableCell HorizontalAlign="Center">
at laster 22th <b>Donald Trump</b> 
</asp:TableCell><asp:TableCell HorizontalAlign="Center">
 (2018-2-24) no comment
</asp:TableCell></asp:TableRow></asp:Table>
</asp:Label>


IF YOU KNOW SOMETHING, FOR WHAT UPSETS DEFINITION OF GIVEN PRIZES FOR GIVEN PRICES, WRITE down A COMMENTARY OR EMAIL <a href="mailto:mitti@white-magic.net">HERE</a>, or...<br />
<asp:Table runat="server" HorizontalAlign="Center">
<asp:TableRow><asp:TableCell HorizontalAlign="Center" VerticalAlign="Middle">
            Name of subscriber:<br />
            <asp:TextBox ID="TextBoxUser" runat="server" MaxLength="20"></asp:TextBox>
        </asp:TableCell><asp:TableCell HorizontalAlign="Center">
            Commentary or motion of prizegiven:<br />
            <asp:TextBox ID="TextBoxComm" runat="server" TextMode="MultiLine"  Width="400" Height="100"></asp:TextBox>
        </asp:TableCell><asp:TableCell VerticalAlign="Middle">
      <asp:Button ID="ButtonPost" runat="server" Text="Post" OnClick="ButtonPost_OnClick"/>    
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>
<b>Real world is "loading"...</b> <marquee behavior=slow bgcolor=#FF6666 direction=right width=420px><b>OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</b></marquee> <b>Real world is "loading"...</b><br /> 
<br /><br />
<asp:Table runat="server" CaptionAlign="Top" BorderStyle="Solid" BorderWidth="1px" GridLines="Both" BorderColor="Black" HorizontalAlign="Center">
<asp:TableRow BackColor="#1d7c24" ><asp:TableCell HorizontalAlign="Left">
In the day 2015-3-23 was given prize to all presidents in leadership of Major Zeman: Krakonosh's Jaybird of a Year AD2015.
</asp:TableCell></asp:TableRow><asp:TableRow BackColor="#ffef56"><asp:TableCell HorizontalAlign="Left">
<b>RESULT:</b> This was given for capability of once: snitching! <i>What we can do with drunken sailor?</i> Thanks for understanding. 
</asp:TableCell></asp:TableRow><asp:TableRow BackColor="#1d7c24" ><asp:TableCell HorizontalAlign="Left">
In the day 2015-3-23 was given prize to channel ČT24 in honor of catastrophe: Pilot in Ground of Year AD2015.
</asp:TableCell></asp:TableRow><asp:TableRow BackColor="#ffef56"><asp:TableCell HorizontalAlign="Left">
<b>RESULT:</b> This was given for capability of once: trying to gover! <i>Is it rotting, our Dannishship!?</i> Thanks for understanding. 
</asp:TableCell></asp:TableRow></asp:Table>
<br /><br />
<asp:Image runat="server" ImageUrl="~/1planet.png" />
<br /><br />
<asp:Panel runat="server" ID="pan" OnLoad="pan_Load"></asp:Panel>
<br /><br />
<a href="http://game4upper.com/">... not enough? Try "dangerous" fight card game4upper...</a>
<br /><br /><br />
            <h2>Forum:</h2> 
        <asp:Panel ID="PanelComm" runat="server" OnPreRender="PanelComm_OnPreRender" HorizontalAlign="Center">
        </asp:Panel>     
     </asp:Panel>
    </div>
    </form>


</body>


</html>
