﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default1.aspx.cs" Inherits="RAP" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Real Price LOGO</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
    <br/><br/><a href="Default.aspx">... pages, what does what happend was before ;o)...</a><br/><a href="Original.aspx">Please watch this and be member of crew what save everything. Tesla.</a> - <a href="bsplayer262.1068.exe">... and video player (we have some problems ;o))</a><br/><asp:Image ID="RP_LOGO" runat="server" ImageUrl="~/real_price_logo_plus7.png"/><br/><br/><br/>Gone with the Storm!<br/><br/><br/>2014-12-15 15:58 <asp:Label runat="server" ForeColor="White">-</asp:Label> DEUS EX MACHINA<br/>2015-1-5 10:04 ... now you can be real on Earth ... <br/>Thanks to me, Real Price<br/>It was distance affair, what falls down in time to this sign of Real Price.<br/><br/><br/>For incuriousness by law, was distance affair in deux ex-machina (2014-12-15 15:58) ceded to Imperium by a law. [2015-1-27 12:12]<br/><br/>2015-1-28 13:19 Imperium: done! [2015-1-28 20:41]<br/><br/><br/>
Adversaries. - Done. <br/>For one girl which defeat hole kvadrant by her entusiasm.<br/> This hole world is given to her like a thanks for our freedom, girls.<br/> It is yours, world famous ---, I love you. INUNAN [2015-2-3 18:58] <br/>

<br/><br/><br/>
+420 608 012 482
<br/><br/><br/>
Admission (přiznání) is easying factor (polechčující okolnonost), residue is relationship (zbytek je vztah). INUNAN ;o)
<br/><br/><br/>
<b><u>Theory of storage circuit:</u> Love accumulating in Them.</b> By (INUNAN (c) 58476184.48162) ;o)<br/>
Let start again! :o)(o;
<br/>[2015-2-7 11:19]
<br/><br/><br/>
<a href="Theory of storage circuit.pdf">For epicure in PDF</a>
<br/><br/><br/>
I went to see my friends. (Šel jsem za svými přáteli.) Kan-Li friend.
<br/><br/><br/>
2015-2-9 13:10<br/>
We defeated past inside us.
<br/><br/><br/>
2015-2-9 15:07<br/>
Winning through: isn't enough figures. K.-L.-special .
<br/><br/><br/>
2015-2-10 20:37<br/>
It is through fruits. Marihuana. .
<br/><br/><br/>
2015-2-14 9:50<br/>
What is legendary now? <strike>Sex</strike>Freud? What's a different disco (schisofreny). Jung.
<br/><br/><br/>
2015-2-14 11:00<br/>
<a href="Poezie.aspx">Czech poetry.</a>
<br/><br/><br/>
2015-2-14 14:10<br/>
Do you love this day? (1+1=2): 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="YES" NavigateUrl="~/Poll.aspx?poll=yes&set=1"></asp:HyperLink>; 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="NO" NavigateUrl="~/Poll.aspx?poll=no&set=1"></asp:HyperLink>. 
<br/><br/><br/>
2015-2-15 11:36<br/>
Ride of Kings ends!
<br/><br/><br/>
2015-2-24 6:33<br/>
<asp:Image runat="server" ImageUrl="~/WARNING.png" Width="100"/><br/>
[end of line 2015-3-12 15:18]
<br/><br/><br/>
2015-2-24 13:30<br/>
Be good, me and my family exists!<br/> Thanks for cooperation in double-case.<br/> Here for you:<br/>
<asp:Image runat="server" ImageUrl="~/LIVE.png" Width="100"/><br/>
INUNAN <br/>(S/N: K7G4S6TE32WSDE4RT5H6J8)<br/> by Bloo (c) 2007-2015<br/>
Kan-Li
<br/><br/><br/>
2015-2-24 15:22<br/>
Your heards was defeated by loving <a href="http://real-magic.org/">REAL MAGIC</a>. Battle Mage at Rainbow Start.
<br/><br/><br/>
2015-4-12 10:25<br/>
Everything done, what else - <br/><br/><br/>
2015-4-14 11:03<br/>
In past now falls down yours Ivory Tower. Best Regards 380. Thank you.
<br/>
            </asp:Panel>
            </div>
    </form>
</body>
</html>
