<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Pexeso.aspx.cs" Inherits="Pexeso" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Real Price Pexeso</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>

<body>

    <form id="form1" runat="server">
    <div>

  <center>

	<br /><br />
      <asp:Label ID="LabelProd" runat="server" Font-Bold="True" ForeColor="#FF6666" Font-Size="Large">I Have No Many for Statue for Hangers<br>production<br>(brave-part of Psi's Co.)<br>presents</asp:Label>
      <br />
      <asp:Label ID="LabelRP" runat="server" Text="PEXESO+" Font-Bold="True" ForeColor="#FF6666" Font-Size="Large" ></asp:Label>
      <br />ToolTip="Both has an 100 on start.<br>Bank is difference between both costs.<br>Maximum pay is 50.<br>Game is ending to one of two has nothing, and bank is his.<br>Who has lowest than is winning!"
      <br /><br />
Owner of domen: (<asp:Label runat="server" Text="Somebodies" ForeColor="#FF6666"></asp:Label> & Unknown Soldier) (e-mail: info@real-price.info) <br />

<br />
<br /> <br />

<br /><br />
<asp:Image runat="server" ImageUrl="~/1planet.png" />
<br /><br />
<a href="http://game4upper.com/">... not enough? Try "dangerous" fight card game4upper...</a>
<br />
    </center> 
     
    </div>
    </form>


</body>


</html>
