﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Poll.aspx.cs" Inherits="Poll" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Poll</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">    
<br/><asp:Image ID="RP_LOGO" runat="server" ImageUrl="~/real_price_logo_plus.png"/><br/><br/><br/>
2015-2-14 14:10<br/>
Do you love this day? (1+1=2): 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="Y0" NavigateUrl="~/Poll.aspx?poll=yes">YES</asp:HyperLink>; 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="N0" NavigateUrl="~/Poll.aspx?poll=no">N-O</asp:HyperLink>. 
<br/><br/><br/>
to 2018-9-19 4:30<br/>
Do you love this day? (1+1=2): 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="Y1" NavigateUrl="~/Poll.aspx?poll=yes&day=1">YES</asp:HyperLink>; 
<asp:HyperLink runat="server" OnPreRender="Poll_PreRender" ID="N1" NavigateUrl="~/Poll.aspx?poll=no&day=1">N-O</asp:HyperLink>. 
<br/><br/><br/>
     <a href="Default1.aspx">RAP (defect in "timing" of our law)</a>
---- <a href="Default.aspx">root</a>
---- <a href="Real Price Poezie (in czech).pdf">Real Price Poezie (in czech).pdf</a><br/>
<br/><br/>2 = 2018-6-23<br/>
</asp:Panel></div>
    </form>
</body>
</html>
