﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Strike.aspx.cs" Inherits="Strike" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Unknown soldier is in trouble</title>
<link rel="icon" href="~/real_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/real_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/real_price_logo_plus.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
F U C K  O F F TO <strike>E N G L A N D</strike> AN D scotladyard !!!!<br />
<br />
<br />
<br />
THIS IS A BRAKE FOR INTERNET RIGHTS - WWW.THE-OR.CZ
<br />
<br />
<br />

Thank you for understanding...<br />
WORLD IS OUR, BECAUSE WE ARE NOT LAZY!<br /> (... and we don't affraid of(to) ourselfs...)<br />
<br />
<br />
<br />
<br />
thanx, everything is good now, this stays here to everybody knows for 24 hours (and more), thanks more<br />
<a href="Start_of_worlds_wining.mpg">... after help don't worry, my Kung-Fu is saving me. Kung-Fu Panda ha, ha</a>, true is nice, an England
    </asp:Panel>
    </div>
    </form>
</body>
</html>
