﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Default" %>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>imperium default</title>
<link rel="icon" href="~/path815_WdF_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path815_WdF_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/imperium_logo.png"/> 
<meta name="msapplication-TileColor" content="#ffffff"/>
</head>


    <body>
    <form id="form1" runat="server">
        <asp:Panel ID="PanelZvuk" runat="server" OnLoad="PanelZvuk_Load" Visible="false">
            <embed height="0px" width="0px" src="Star Wars Theme Song By John Williams.mp3" />
        </asp:Panel>
    <div>
        <asp:Panel runat="server" HorizontalAlign="Center">
	<asp:ImageButton runat="server" ImageUrl="~/imperium_logo.png" OnClick="Logo_Click" ToolTip="...sound..."/><br /><br />
	<asp:Image runat="server" ImageUrl="~/imperium_dodatek.png" Width="438"/><br /><br />

            <asp:Table runat="server" Width="400" HorizontalAlign="Center"><asp:TableRow><asp:TableCell HorizontalAlign="Center">
<asp:Panel ID="Main" runat="server">
            <asp:Panel ID="Sloupek1" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-04-20<br /><br />
Let me think about you. None is good. Good is you. You is. Crazy mom - let me think. My care
take you to Obama crazy house to dance like a maniac. It's a way of darkness end. Have a
nice day.<br />
	<asp:ImageButton ID="IMG_3070" runat="server" ImageUrl="~/View.ashx?sl=1&file=IMG_3070.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
Obama says: "Neighborhood is fool."<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek2" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-04-21<br /><br />
I love you, my planet. What wanderfull things doings greats. Music lisening on it. Going
through. Maybe good, maybe God. Nevermind.<br />
	<asp:ImageButton ID="IMG_3075" runat="server" ImageUrl="~/View.ashx?sl=2&file=IMG_3075.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
Things are great, main is good. Nevermind if it is bad, if God is good. God be good
... and we will be with you.<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek3" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-04-24<br /><br />
Arabien hoing through Chrismas. Good for spider, God for Spiderman. Who takeing care is Kan-Li.<br />
	<asp:ImageButton ID="IMG_3079" runat="server" ImageUrl="~/View.ashx?sl=3&file=IMG_3079.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
DEAL: You are great that main is good. Nevermind if it is bad, if God is good. You can say: God be good
... and we will be with you.<br />
Great!<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek4" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-04-27<br /><br />
I have my ideas in pocket. Who care about it - Them. Them is stupid but strong. Strong is stupid. Ta ke care
about it carefully and you find that deth solving it. Them must to losing!<br />
	<asp:ImageButton ID="IMG_3086" runat="server" ImageUrl="~/View.ashx?sl=4&file=IMG_3086.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
We must to be prepared.<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek5" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-02<br /><br />
Today is birth of tomorow. Our garry is strong. GDSa THe YAdDR95 to be prepaired. XJ54-fAs54 is 
prepaired. He must be carefull. DA95 1995 AD95 95. Bye! Good95.<br />
	<asp:ImageButton ID="IMG_3107" runat="server" ImageUrl="~/View.ashx?sl=5&file=IMG_3107.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
We are going with storm. 95 A9 99 99 09 09 9. Prepairing on 23:56 A6 A9 A14 A10.
            </asp:Panel><br />

            <asp:Panel ID="Sloupek6" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-04<br /><br />
	<asp:ImageButton ID="IMG_3109" runat="server" ImageUrl="~/View.ashx?sl=6&file=IMG_3109.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
{20:08 SOLARIS done.}<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek7" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-05<br /><br />
{18:30 Dance agains <asp:HyperLink runat="server" NavigateUrl="~/MVI_3110.MOV">dance</asp:HyperLink>.}<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek8" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-06<br /><br />
	<asp:ImageButton ID="IMG_3111" runat="server" ImageUrl="~/View.ashx?sl=8&file=IMG_3111.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
	<asp:ImageButton ID="IMG_3112" runat="server" ImageUrl="~/View.ashx?sl=8&file=IMG_3112.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek9" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-11<br /><br />
AD69 979707052123232321010321 DA95><br />
	<asp:ImageButton ID="IMG_3116" runat="server" ImageUrl="~/View.ashx?sl=9&file=IMG_3116.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
da5 da><br />
<b>Coo-webs></b>
<asp:HyperLink ID="HyperLink1tarum2cards1" runat="server" ForeColor="Black" NavigateUrl="http://1tarum2cards1.com">1tarum2cards1.com,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkbeltbox" runat="server" ForeColor="Black" NavigateUrl="http://belt-box.net">belt-box.net,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkblueenvelope" runat="server" ForeColor="Black" NavigateUrl="http://blue-envelope.net">blue-envelope.net,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkcobras" runat="server" ForeColor="Black" NavigateUrl="http://c-o-b-r-a-s.org">c-o-b-r-a-s.org,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkcupofcoffee" runat="server" ForeColor="Black" NavigateUrl="http://cup-of-coffee.org">cup-of-coffee.org,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkgame4upper" runat="server" ForeColor="Black" NavigateUrl="http://game4upper.com">game4upper.com,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkhrnekkafe" runat="server" ForeColor="Black" NavigateUrl="http://hrnek-kafe.cz">hrnek-kafe.cz,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkLiVEpAss" runat="server" ForeColor="Black" NavigateUrl="https://live-pass.info">live-pass.info,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkmodraschranka" runat="server" ForeColor="Black" NavigateUrl="http://modra-schranka.cz">modra-schranka.cz,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkpodivna" runat="server" ForeColor="Black" NavigateUrl="http://podivna-zahrada.cz">podivna-zahrada.cz,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkrealprice" runat="server" ForeColor="Black" NavigateUrl="http://real-price.info">real-price.info,</asp:HyperLink>
<asp:HyperLink ID="HyperLinktheor" runat="server" ForeColor="Black" NavigateUrl="http://the-or.cz">the-or.cz,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkvalasINFO" runat="server" ForeColor="Black" NavigateUrl="http://valas.info">valas.info,</asp:HyperLink>
<asp:HyperLink ID="HyperLinkwhitemagic" runat="server" ForeColor="Black" NavigateUrl="http://white-magic.net">white-magic.net .</asp:HyperLink>
<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek10" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-13<br /><br />
AD69 Gone to done 25. Dan35 goes to Hollywood to do what else can be. Pis! DA95.><br />
<asp:Panel ID="Center10" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3131_2" runat="server" ImageUrl="~/View.ashx?c=10&file=IMG_3131_2.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
Dan25 go down. 252550802580932513 x3><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek11" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
<asp:Label runat="server" Font-Names="Courier New" Text="12 25" Font-Size="20"/><br />
2018-05-14<br /><br />
Done25 85 13 31 13 <asp:Label runat="server" Text="95 12 <i>12</i> 25 25 21" Font-Names="Courier New"/> 21><br />
	<asp:ImageButton ID="IMG_3135" runat="server" ImageUrl="~/View.ashx?sl=11&file=IMG_3135.JPG" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
Done21 23 12 <asp:Label runat="server" Font-Names="Courier New" Text="12 25 12 <b>25</b> 12"/>><br />
	<asp:ImageButton ID="IMG_3140" ImageUrl="~/View.ashx?sl=11&file=IMG_3140.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek12" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-20<br /><br />
	<asp:ImageButton ID="IMG_3146" ImageUrl="~/View.ashx?sl=12&file=IMG_3146.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek13" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-21<br /><br />
Please help to webmaster. [Trouba].cz><br />
	<asp:ImageButton ID="IMG_3167" ImageUrl="~/View.ashx?sl=13&file=IMG_3167.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek14" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-22 (1)<br /><br />
We are hideing ourselfs.><br />
	<asp:ImageButton ID="IMG_3173" ImageUrl="~/View.ashx?sl=14&file=IMG_3173.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek15" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-22 (2)<br /><br />
Water-lili, in town - silly.><br />
	<asp:ImageButton ID="IMG_3177" ImageUrl="~/View.ashx?sl=15&file=IMG_3177.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek16" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-24<br /><br />
A95 A515 35 38 13 <asp:Label runat="server" Font-Names="Courier New" Text="12 28 12 12 12 12 11 25 28 13"/> Good35 
<asp:Label runat="server" Font-Names="Courier New" Text="12 28 12 12 12 12 11 25 28 11"/>><br />
	<asp:ImageButton ID="IMG_3180" ImageUrl="~/View.ashx?sl=16&file=IMG_3180.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek17" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-25<br /><br />
How Irish bastard says: "They're all Gods, they're all Gods."><br />
	<asp:ImageButton ID="IMG_3190" ImageUrl="~/View.ashx?sl=17&file=IMG_3190.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
(Canadien blueberry.)><br />
	<asp:ImageButton ID="IMG_3194" ImageUrl="~/View.ashx?sl=17&file=IMG_3194.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek18" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-29 (1)<br /><br />
Safety issue hide right side for a while.><br />
	<asp:ImageButton ID="IMG_3219" ImageUrl="~/View.ashx?sl=18&file=IMG_3219.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek19" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-29 (2)<br /><br />
A99 33 35 36 37 38 39 40 42 12 23><br />
<asp:Panel ID="Center19" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3226_2" ImageUrl="~/View.ashx?c=19&file=IMG_3226_2.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
            </asp:Panel>

            <asp:Panel ID="Sloupek20" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-30<br /><br />
We're raining! Návštěvníci.><br />
	<asp:ImageButton ID="IMG_3233" ImageUrl="~/View.ashx?sl=20&file=IMG_3233.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek21" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-05-31<br /><br />
Všichni dobře. (To si všichni najděte ve slovníku.)><br />
	<asp:ImageButton ID="IMG_3241" ImageUrl="~/View.ashx?sl=21&file=IMG_3241.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek22" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-03<br /><br />
They have everything now. Lets to see what they do with it.><br />
	<asp:ImageButton ID="IMG_3249" ImageUrl="~/View.ashx?sl=22&file=IMG_3249.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek23" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-08<br /><br />
HA, HA, to byla prdel.><br />
	<asp:ImageButton ID="IMG_3253" ImageUrl="~/View.ashx?sl=23&file=IMG_3253.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek24" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-09<br /><br />
	<asp:ImageButton ID="IMG_3256" ImageUrl="~/View.ashx?sl=24&file=IMG_3256.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek25" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-10<br /><br />
<h1>My dear,</h1>
I am writting to you, from edge of beauty - man size. Mistr goes down through way of valley of shadows by sentens of dakrness end.
Kan-Li goes to living with normality - to be stuffy, thay said ;o).<br />
What can I say more? My dog has sweet life in hell ;o), my cat in heaven. So some pictures for you, my friend, Daiana. 
And here is...<br />
<asp:Panel ID="Center25" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3270_3" ImageUrl="~/View.ashx?c=25&file=IMG_3270_3.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
... my bye. me<br />
A95 96><br />
2018-06-11<br />
	<asp:ImageButton ID="IMG_3276" ImageUrl="~/View.ashx?sl=25&file=IMG_3276.JPG" HorizontalAlign="Center" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek26" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-17<br /><br />
simple pimple><br />
	<asp:ImageButton ID="IMG_3286" ImageUrl="~/View.ashx?sl=26&file=IMG_3286.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
            </asp:Panel>

            <asp:Panel ID="Sloupek27" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-20<br /><br />
Dead can dance (on salt).><br />
<asp:Panel ID="Center27" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3287" ImageUrl="~/View.ashx?c=27&file=IMG_3287.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek28" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-25<br /><br />
<h1>My darling,</h1>
I am writting to you from here, hell. Moral war is hell. You must see beauty of nature and listen their voices. Hack is clear of bullshits today.><br />
<asp:Panel ID="Center28" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3291" ImageUrl="~/View.ashx?c=28&file=IMG_3291.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
... and keep my way cleared. Thanks - your George.><br />
	<asp:ImageButton ID="IMG_3290" ImageUrl="~/View.ashx?sl=28&file=IMG_3290.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek29" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-26<br /><br />
A9 <asp:Label runat="server" Font-Names="Courier New" Text="9 12"/>><br />
	<asp:ImageButton ID="IMG_3294" ImageUrl="~/View.ashx?sl=29&file=IMG_3294.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek30" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-06-27<br /><br />
<h1>Censored by smah.</h1>
	<asp:ImageButton ID="IMG_3302" ImageUrl="~/View.ashx?sl=30&file=IMG_3302.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
	<asp:ImageButton ID="IMG_3307" ImageUrl="~/View.ashx?sl=30&file=IMG_3307.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek31" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-07-01<br /><br />
<h1>My dear,</h1>
I am remaining in censored pasage. Please, help.><br />
<asp:Panel ID="Center31" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3314" ImageUrl="~/View.ashx?c=31&file=IMG_3314.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek32" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-07-05<br /><br />
<h1>My darling,</h1>
T have me. bye><br />
	<asp:ImageButton ID="IMG_3317" ImageUrl="~/View.ashx?sl=32&file=IMG_3317.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek33" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-07-08<br /><br />
<h1>My dear,</h1>
I am still remaining in censored pasage.><br />
<asp:Panel ID="Center33" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3324" ImageUrl="~/View.ashx?c=33&file=IMG_3324.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek34" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-08-07<br /><br />
<h1>My darling,</h1>
T is my. bye><br />
	<asp:ImageButton ID="IMG_3368" ImageUrl="~/View.ashx?sl=34&file=IMG_3368.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek35" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-08-11<br /><br />
	<asp:ImageButton ID="IMG_3372" ImageUrl="~/View.ashx?sl=35&file=IMG_3372.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek36" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-08-12<br /><br />
<h1>FAULT!</h1>
!--- is done.><br />
	<asp:ImageButton ID="IMG_3373" ImageUrl="~/View.ashx?sl=36&file=IMG_3373.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek37" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-08-15<br /><br />
<h1>My darling,</h1>
true is becoming true. Bye.><br />
	<asp:ImageButton ID="IMG_3374" ImageUrl="~/View.ashx?sl=37&file=IMG_3374.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek38" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-09<br /><br />
<h1>My darling,</h1>
you're allways deleted forever and my fist going through. That's our tragedy. Our lives (or lies). Bye><br />
	<asp:ImageButton ID="IMG_3389" ImageUrl="~/View.ashx?sl=38&file=IMG_3389.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek39" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-17<br /><br />
<h1>My dear,</h1>
you're allways was from it. And it is mine. thanks. bye><br />
	<asp:ImageButton ID="IMG_3396" ImageUrl="~/View.ashx?sl=39&file=IMG_3396.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek40" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-22<br /><br />
Praha zase fékuje na prdel si maluje! Vy víte proč...
<asp:Panel ID="Center40" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_20180922_133956" ImageUrl="~/View.ashx?c=40&file=IMG_20180922_133956.jpg" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek41" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-25<br /><br />
...so hot...<br />
<asp:Panel ID="Center41" runat="server" HorizontalAlign="Center" Width="400">
	<asp:ImageButton ID="IMG_3414_1" ImageUrl="~/View.ashx?c=41&file=IMG_3414_1.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
</asp:Panel>
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek42" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-26<br /><br />
<h1>My darling,</h1>
what can I do with my city, if am I fuck off a women. What can city do with me is different way of my schisofreny. It is lost way of darkness end. Very long time lost... Bye.><br />
	<asp:ImageButton ID="IMG_3425" ImageUrl="~/View.ashx?sl=42&file=IMG_3425.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
	<asp:ImageButton ID="IMG_3426" ImageUrl="~/View.ashx?sl=42&file=IMG_3426.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek43" runat="server" HorizontalAlign="Justify" Width="400" Visible="false">
2018-09-29<br /><br />
{18:01}<br />
	<asp:ImageButton ID="IMG_3441" ImageUrl="~/View.ashx?sl=43&file=IMG_3441.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

            <asp:Panel ID="Sloupek44" runat="server" HorizontalAlign="Justify" Width="400">
2018-10-10<br /><br />
{22:50 My friends are so disstress.}<br />
	<asp:ImageButton ID="IMG_3458" ImageUrl="~/View.ashx?sl=44&file=IMG_3458.JPG" runat="server" OnClick="ImageBut_Click" ToolTip="Click to download."/><br />
-This site was given by imperial disposition for clear life in law.-<br />
            </asp:Panel>

           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink ID="HLDolu" runat="server" ForeColor="DarkGray" OnPreRender="Listovani_PreRender"><<<</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink ID="HLNahoru" runat="server" ForeColor="DarkGray" OnPreRender="Listovani_PreRender">>>></asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
            <br /> <br />
            <asp:Panel ID="Links" runat="server" HorizontalAlign="Justify" Width="400">
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=1">2018-04-20</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=2">2018-04-21</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=3">2018-04-24</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=4">2018-04-27</asp:HyperLink>
           
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=5">2018-05-02</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=6">2018-05-04</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=7">2018-05-05</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=8">2018-05-06</asp:HyperLink>
           
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=9">2018-05-11</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=10">2018-05-13</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=11">2018-05-14</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=12">2018-05-20</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=13">2018-05-21</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=14">2018-05-22a</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=15">2018-05-22b</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=16">2018-05-24</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=17">2018-05-25</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=18">2018-05-29a</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=19">2018-05-29b</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=20">2018-05-30</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=21">2018-05-31</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=22"><b>2018-06-03</b></asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=23">2018-06-08</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=24">2018-06-09</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=25">2018-06-10</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=26">2018-06-17</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=27">2018-06-20</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=28">2018-06-25</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=29">2018-06-26</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=30">2018-06-27</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=31">2018-07-01</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=32">2018-07-05</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=33">2018-07-08</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=34">2018-08-07</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=35">2018-08-11</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=36">2018-08-12</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=37">2018-08-15</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=38">2018-09-09</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=39">2018-09-17</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=40">2018-09-22</asp:HyperLink>

           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=41">2018-09-25</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=42">2018-09-26</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=43">2018-09-29</asp:HyperLink>
           <asp:Label runat="server" ForeColor="DarkGray" Text="---"/>
           <asp:HyperLink runat="server" ForeColor="DarkGray" NavigateUrl="~/Default.aspx?sl=44">2018-10-10</asp:HyperLink>
	<br />
            </asp:Panel>
</asp:Panel></asp:TableCell></asp:TableRow></asp:Table>
	<br />
		AD2018 I have you (in the long run)! production. ---
           <asp:HyperLink runat="server" ForeColor="Black" NavigateUrl="~/imperium_desktop.png">Desktop picture.</asp:HyperLink>
	<br />
	</asp:Panel>
    </div>
    </form>
</body>
</html>
