﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_dEFAULT" %>
<html>
<head runat="server">
    <title>Default view</title>
</head>

<body style="background-color:#C3C3C3;color:white
	">
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         
         <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="700" VerticalAlign="Top" HorizontalAlign="Center">
        
	<asp:ImageButton ID="ImageStvoraButon" ImageUrl="~/belt-box.net.png" runat="server" Height="666" OnClick="ISB_OC" ></asp:ImageButton>
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" ForeColor="White">(c) 2000.13 Unknown Soldier as a Martin MwM Meeka</asp:Label>
        <br />
        <br />
        <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="~/StampSample.aspx">Write down for e-mail here...</asp:HyperLink>              <br />
 
       <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="http://dogs-lair.belt-box.net/">[DOG'S LAIR]</asp:HyperLink>               <br />

	
   </asp:TableCell>
   <asp:TableCell Width="400" ></asp:TableCell>
   <asp:TableCell HorizontalAlign="Center">
   
	<asp:Image ID="ImageMasterFromBerserk" ImageUrl="baron.jpg" runat="server" Width="300"/>
        <br />
        <br />
        <br />
	<b>Man is beauty!</b>

   
   </asp:TableCell></asp:TableRow></asp:Table>
   
    </div>
    </form>
</body>
</html>
