﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="kino_Default" %>

<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <center>
        <br /><br /><br /><br /><br />
        <asp:Image runat="server" ImageUrl="~/Default.png" />
        <br /><br />
        <asp:Button runat="server" OnClick="Unnamed_Click" Text="-> Dále ->"/>
    </center>
    </div>
    </form>
</body>
</html>
