﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Error</title>
</head>
<body style="background-color:black;color:white;font-family:Calibri">
    <form id="form1" runat="server">
    <div>
     <center>
	If you see this often, please be paecefull, to <a href="mailto:mitti@white-magic.net">mitti@white-magic.net</a> .


    </center>
    </div>
    </form>
</body>
</html>
