﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="download_Default" %>

<head runat="server">
    <title>DOWNLOAD ...LiVE pAss...</title>
<link rel="icon" href="http://live-pass.info/live-pass_ICON.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://live-pass.info/live-pass_ICON.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="http://live-pass.info/live--pass.png"/> 
<meta name="msapplication-TileColor" content="#ffB765"/>
</head>
<body style="color:#ff6b37;background-color:#ffB765
	 ">
    <form id="form1" runat="server">
    <div>
    <h3>download:</h3>
        <br />
        <br />
        heslo:
        <asp:TextBox ID="TextBox1" runat="server" MaxLength="50" AutoPostBack="true" OnTextChanged="TextBox1_TextChanged" TextMode="Password"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Ok" BackColor="#c1d500" ForeColor="#ff6b37" Font-Bold="True" OnClick="Button1_Click"/>
        <br />
        <br />
        <asp:Panel ID="Panel1" runat="server" OnInit="Panel1_Init" Visible="false"></asp:Panel>
    </div>
    </form>
</body>
</html>
