﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="NEG_Default" %>

<head runat="server">
    <title>N.E.G.</title>
</head>
<body >
    <form id="form1" runat="server">
    <div>
	<a href="mailto:coko@modra-schranka.cz">..., ale pak jsem TO našla: fsgijkvlfnsagirowghoinvaáéíščafaknafáioíčfhdcjnauehífá  áya íáy éíáahfaoisu důaodaod aá f oifh aoefhaoefh aáfy áeyffoiohaoihafíáédiodoiddhaůoehaoůfoůuf oů foeahdadjkakdjha h kldjakdh kdjabfůeíoá důdoiaůoljdkcnjkan cm,nzncz\\ zůoehfů oáfůeíéá ůaodi ha\ls\acdh aů\lkh \aůldh a\ůoeáydůoéedao\dh a\oidh ai\dh alias negativity asjcdhbascdjkbalkcaůcoiuagcouacůa oci aoůic hů\oodsic\ hůaoidsch aoůcih \aůodisc \asoi chůze snů ds\c\kjdcb\kacdjb\akcb\akbc\hcv\ajch\jadhsc\asch\ajhc\ajchsv\ajdhsc\vajsch\ajcshv\ajcshv\auwžýdtÁWT ÝÁÍQ DQÁW Dáqýwd IQWGDisudg ISDG i dg ISGI usgi i s tebou se dá žít, ale ne!</a> 
<br/><br/><br/><asp:Image runat="server" ImageUrl="~/MAIL_WAY_not.png" Width="400"/><br/><br/>
<asp:Label ID="L" runat="server" ForeColor="Wheat"/><br/>
<center><a href="http://modra-schranka.cz/">-...-</a></center>


    </div>
    </form>
</body>
</html>
