﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
        <title>error</title>
</head>
<body >
    <form id="form1" runat="server">
    <div>
	<center>
		Vyskytla se chyba - mě se nedějí - napište mému webmastrerovi na mm@live-pass.info .
	</center>
	</div>
	</form>
</body>
</html>
