﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Cesky.aspx.cs" Inherits="Cesky" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Or</title>
<link rel="icon" href="http://www.the-or.cz/hammer.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://www.the-or.cz/hammer.ico" type="image/x-icon" />
</head>
<body>
    <form id="form1" runat="server">
    <div><asp:Panel runat="server" ID="zvuk" Visible="False">
<embed height="0px" width="0px" src="paranoia_song_czech.wav" />
</asp:Panel> 
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
icon: <asp:Image runat="server" ID="icon" ImageUrl="~/hammer.png"/><br />
	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
<b><u>MÁ POMSTA SLÁDNE, TAK JAK VAŠE "láskyplná" latentní SCHIsOFReNIE VÁM VLÁDNE</u></b><br />
Doufám, že to uhrajete na <strike>schizofrenii</strike> Schredinger's cat complex (Diagnóza: V evropské společnosti je velice rozšířen komplex Schredingerovi kočky způsobující zatemnění mysli a následně mnoho psychiatrických chorob způsobený okolnostmi komlexu Schredingerovi kočky - nechuti k životu, halucinacím a snům spůsobenými zatajováním informací ať už jedincem samotným nebo je to druhotně antropologicky získané ze společnosti.) , protože jinak se musíte nechat zavřít do blázince pro pokus o sebevraždu.<br />
Já v tom nechci žít, tak jsem blázen. A vy undergroundisté byste mohli bejt třeba psychiatři.<br/>
[2015-4-11] Po nenadálých příznacích fingované války, uklidnil se pacient na bázi ničeho, doporučuji převedení paměti s kombinaci věci, místa, věci. ;o)<br/>
<br /> <br />
	<a href="./andy/Default.aspx">Básně školačky Andy.</a>
    <br />
	<a href="./Rakoska.aspx">Spolek za návrat rákosky do škol.</a>
    <br />
	<a href="./2012.aspx">něco o konci máyského kalendáře v roce 2012.</a>
    <br />
	<a href="./pic/pf2015.png">PF 2015 Bílé Vánoce</a> ------
	<a href="./pic/pf2015_sharp.png">PF 2015 The Or</a>
    <br />
	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
	<a href="sue.us.aspx">SUE.US</a>
    <br />
	<a href="http://obrazy.the-or.cz">sbírka OBRAZY</a>    <br />
	<a href="http://podivna-zahrada.cz">Pozvánka do internetového chrámu (podivna-zahrada.cz udělala svoje, podivna-zahrada.cz pohnojila hnoje).</a>
    <br />
	<a href="http://tajemstvi.mickey-software.cz">Pozvánka do Tajemství (KRT - krátká rychlokvašná textovka).</a>
    <br />
	<a href="http://kino.mickey-software.cz">Pozvánka do Kina (krátké textovky na pokračování).</a>
    <br />
	<a href="http://matika.mickey-software.cz">Doučování SŠ matematiky.</a>
    <br />
	<a href="zk.aspx">Žákovská knížka tohoto světa.</a>
    <br />
        <asp:Button ID="ButtonZvuk" runat="server" Text="...Zvuk(Sound)..." OnClick="Zvuk_Click"/>
<br /><br /><br /><br />
<asp:Image runat="server" ID="NOFUN" ImageUrl="~/no.fu.n.png"/>
<br />
	<asp:HyperLink runat="server" Text="English version" OnPreRender="Link_PreRender"/>
<br /><br />
7.9.2011 12:00:10<br />
Dnes slavíme začátek světově proslulé <a href="REV.aspx">Quiet Revolucion+</a> (Tiché revoluce).<br />
Každý člen undergroudu, anarchista, hipík atp. by měl, když chce protestovat být sticha.<br />
Děkuji za pochopení...<br />
WORLD IS OUR, BECAUSE WE ARE NOT LAZY!<br /> (SVĚT JE NÁŠ, PROTOŽE NEJSME LÍNÍ!) (... a nebojíme se sami sebe...)<br />
<br /><br />
28.7.2014 8:56<br />
Quiet Revolution skončila morální válkou. Dejte si všichni na sebe majzla!
<br /><br />
2014-8-14 9:57<br />
<i>Definitivně:</i> Milion let starý komunistický muž řekl: <b>V tomto případě musím prohrát.</b> (To je komunistická cesta - pravnická cesta sebeobětí. Komunismus je utopie, ale komunistický muž už vyhrál mnoho bitev na straně dobra.)
<br /><br />
15.8.2014 11:31<br />
-Nechci překládat.-
<br />
17:03<br />
Skončily slzy z Avvillonu, kteréžto měly tu čest spadnout na panetě Duna. Žijte v úctě a buďte dobří. Zde na planetě Duna začíná největší bitva mezi dobrem a zlem. Děkuju za zábavu Evropo už dopředu.
<br /><br />
2014-8-16 15:55<br />
Novej ftip: Psychiatr nemůže bejt blázen ;o).
<br />
16:20<br />
Bitva skončila vítězstvím dobra samozřejmě na TJ Lokomotiva Plzeň.
<br />
17:34<br />
Je dobré, že další bitva začala.<br />
<br /><br />
18.8.2014 5:00<br />
<strike>Monarchie je mrtvá.</strike><br />
<i>22.12.2014 11:24<br />
Což takhle konstituční monarchie s tajnou volbou krále.</i>
<br /><br />
18.8.2014 15:40<br />
Dobrý odpoledne! 7 let dloooooouhé hááááááááázenííííííí ručníkůůůůů do ringu skooooončilooooo. Ha ha ha ha ha ha ha ha ha ha.
<br /><br />
6.10.2014 19:32<br />
TWEIN je mrtev.
<br /><br />
11.10.2014 cca 9:50<br />
Pivo už jenom pro toho kdo chce ;o).
<br /><br />
14.10.2014 8:18<br />
We are again and again. Thanks a lot, we don't want anything. SHARPS+!<br />
[2015-5-16 8:41] Moment odhaleni definici: <i>Milujeme zeny tak jak ony se nenavidi, diky muzum z Jinych.</i> SHARPS<br />
(Jsme znovu a znovu. Děkujeme, nechcem nic. Žraloci.)
<br />
<asp:Image runat="server" ImageUrl="~/380.png"/>
<br />
26.12.2014 14:55<br />
The End (of Star Wars - Thank you Earth, are you crazy?!) ;o)
<br /><br />
1.1.2015 5:09<br />
Můj život aneb zaplácal jsem jim držku komisárkem! ;o)
<br /><br />
3.1.2015 21:29<br />
... vymáčkni si mocňátko, Praho! ;o)<br />
<i>(Jsem z Przně - a na to jsem hlt!)</i>
<br /><br />
4.1.2015 00:52<br />
... a mír zavládl v Kraji. Děkuji Kan-Li - přítel.
<br /><br />
4.1.2015 02:08<br />
"Tatíčku, mě se polámalo to co mám na víc!"<br />
Tatíček: "To máš z toho, že jseš komanč!"
<br /><br />
5.1.2015 21:48<br />
Co si pověsíš, to si musíš hlídat, píčo!
<br /><br />
7.1.2015 10:50<br />
Byla odhalena Velká Kan-Li zrada. Bude postupováno podle zákona Impéria. Viníci budou prodáni do otroctví věčného. Kan-Li přítel.
<br />
[2015-4-27 19:40]<i>There was chain down revolt of wises! Check your wife by fist.</i> K.-L.-special
<br /><br />
12:27<br />
Muj fotr zlomil rákosku,<br />
Čechy jsou zas (vy)bytý,<br />
muj fotr zlomil rákosku,<br />
Kan-Li je zas přibitý!!! (V úctě)<br />
- Kan-Li přítel z impéria -
<br /><br />
14:50<br />
Šup na vážení. Čert.
<br /><br />
15:22<br />
V roce 1978 začal nový příběh zvaný New Age. Žijte ho blaze. Blázen.
<br />
<i>23.1.2015 22:31<br />
Zase teklo mlíko!</i>
<br /><br />
10.1.2015 6:02<br />
Impérium: hotovo. Zrada končí, díky bohu za ní :Kan-Li.<br />
[2015-1-29 16:57]
<br /><br />
13.1.2015 14:04<br />
<a href="./pic/pf2015_sharp.png">Jak kdyby to bylo znovu. <strike>Zesnulá</strike> Manata na nás kouká z vrchu (jako vždy) a my se jí smějem, protože víme, že se to vyřeší.</a>
<br /><br />
15.1.2015 10:40<br />
Ninja korytnačky se přidali k Trhačovi a eště je Sám doma.
<br /><br />
23.1.2015 21:18<br />
Začínáme ohýbat hůl. Připoutejte se, prosím. ;o) bůh
<br /><br />
29.1.2015 17:04<br />
Je těžké se na ženě uživit poctivě! ;o) INUNAN!
<br /><br />
30.1.2015 9:27<br />
Uprostřed katastrofy,<br />
baví mě vždy říkat strofy,<br />
ostatní mě za to nesnášejí,<br />
vejce mi však za to snášejí.<br />
;o) INUNAN <br />
(musí si tovíš všichni zvyknout)
<br /><br />
2.2.2015 13:29<br />
Je to dobrý, došli jim saze.
<br /><br />
17:17<br />
Není vztek nakažlivý, zpětná poznámko? Tazmánský čert.
<br /><br />
11.4.2015 12:45<br />
Díký za každé nové 11. září . Halíme, INUNAN!
<br /><br />
15.4.2015 10:17<br />
Pěstičky v tmičce<br />
=================<br />
V myčce je pohoda,<br />
undergroude - ty svině - <br />
tys, zbavils mě národa.<br />
[2015-5-11 19:17]<i>... tak co? Dame si sefy? Sejdem se u hlavniho.</i> sharp-skin (BOSS)<br />
<br /><br />
17.4.2015 6:14<br />
Marihuana léčí! <strike>Aneb jak jsem vytrhnul doktorovi neschopenkou modrej zub!</strike> ;oD G-:
<br /><br />
6:31<br />
Impotenti, impotenťátka i jiná koťátka, nekoukejte na mě když si honím prasátka! ;o)
<br /><br />
19.4.2015 9:53<br />
Má macecha odjela na výlet ve své nové psychice. Otesánek.
<br /><br />
21.4.2015 6:48<br />
Meeting point with magorama. ;oD
<br /><br />
7:22<br />
Jak se nám zas umučili,<br />
udělali hopla,<br />
v kině se zas udělali,<br />
našli v sobě sopla!
<br /><br />
7:27<br />
Jediné možné finále,<br />
našlo se zas v kanále!<br />
<i>... i s klíčema.</i><br />
<asp:Image runat="server" ImageUrl="~/CT24.png"/>
<br /><br />
22.4.2015 18:03<br />
Naříkali, že mu hráli. INUNAN
<br /><br />
25.4.2015 7:54<br />
Chrám Svatého Píta,<br />
je prý něčeho chlouba,<br />
tak JÁ z Vás tady zas zívám,<br />
<a href="http://real-price.info/Poezie.aspx">a půjdeme dál!</a>
<br /><br />
8:19<br />
Dnes v raních hodinách skočila poslední fáze projektu <u>3 Nůžky V Dortu</u>, užijte si zbytek dne. Památeční foto zniženo.<br />
<br /><br />
21:13<br />
<asp:Image runat="server" ImageUrl="~/leafBYlordOfchlamedi.png"/>
<br />[23.4.2018 23:54] Nirvána se dá zažít jedině v Čechách.
<br /><br />
18.5.2015 14:43<br />
Pravda o pravde: Pravda vitezi vzdy lzi a nenavisti. ;o) 
<br /><br />
<b>... a mala reklama:</b><br />
Zivot je jak BonPari - furt to musis rozbalovat! ;o)
<br /><br />
28.11.2016 11:57<br />
Hrouti se Vam svet,<br />
hrouti se Vam rise,<br />
hrouti se Vam svet,<br />
hrouti se Vam v pise!

<br /><br />
29.11.2016 13:34<br />
Laska - previt pritele.

<br /><br />
2.12.2016 17:17<br />
Podceneni nepritele - zasadni problem u pritele.

<br /><br />
4.12.2016 15:26<br />
Konec soudu.
<br /><br />
5.12.2016 16:40<br />
Party, kterou volate, neni pritomna v tento moment.<br>Vodafone byl, navzdory telekomunikacnimu uradu, od zacatku Vodafone.

<br /><br />
6.12.2016 8:33<br />
Hlasy mi prinesli: Valecny štváči - mi jsme Risperdalovy sráči.

<br /><br />
10.12.2016 19:08<br />
Pointa života je komunismus - ne, že by musel býti. ;o)
<br /><br />
28.12.2016 15:44<br />
Hotovo!
<br /><br />
9.4.2017 13:12<br />This is the end.
<br /><br />
12.5.2017 17:24<br />Cesta mezi životem a smrtí. (nesmrdí ;o))
<br /><br />
14.5.2017 16:28<br />Král je mrtev - tílko žije.
<br /><br />
14.5.2017 17:08<br />... a americký president vládne v Evropě Zafodův Bíblbroxům.
<br /><br />
16.5.2017 17:07<br />Pes je v základu, kopejte hluboce. Slepice.
<br /><br />
19.5.2017 15:38<br />Krab je srab.
<br /><br />
19.5.2017 20:07<br />Ten, kdo chce mít
<br />
			pravé brnění,
<br />
			musí být z vyšších sfér,
<br />
			meč míti po boku
<br />
			a pěknou záruku,
<br />
			že žádná smrt není fér.
<br /><br />
27.5.2017 15:22<br />V Čechách jde nyní o víc než nestratit tvář: Jde o to nestratit úsměv. ;o)
<br /><br />
27.5.2017 16:06<br />Scurut-hai - hotovo.
<br /><br />
27.5.2017 17:28<br />Pejsku náš - co děláš,
<br />

			že tak vesel skáčeš.
<br />
			Řek´ bych vám - nevím sám,

<br />
			ale já jsem blázen.<br /><br />
28.5.2017 7:05<br />Paci, paci, pacičky,
<br />
			kdopak dal nám ručičky,
<br />
			byl to had, nebyl sám,
<br />
			a tím byl kšeft ujednán.<br /><br />
28.5.2017 10:24<br /><strike>... už nejsem Čech - žiju na sebe.</strike>
<br /><br />
5.6.2017 22:19<br />

<asp:Image runat="server" ImageUrl="~/pa.png"/><br /><br />
8.6.2017 20:33<br />Českým Hulkům se už nedaří.
<br /><br />
12.6.2017 23:53<br />... domácí pohodu nezničilo ani sledování televize. ;o)
<br /><br />
13.6.2017 14:07<br />... a czech-tecky nebyly.
<br />
			[10.7.2017 18:30]
<br /><br />
29.6.2017 11:27<br />Šla Naninka do zelí, do zelí, do zelí,
<br />
			natrhat si lupení, lupeníčka
<br />
			dráb se za ní podívá, podívá, podívá,
<br />
			sám však sebe nehlídá, nehlídá.
<br />
			Ach jo!
<br /><br />
1.7.2017 22:28<br />Už koníček pádí,<br />
			a nemá stáj,<br />
			co bylo stání,<br />
			je teďka máj.<br /><br />
5.7.2017 12:00<br />... a Andriod je v českejch sirenách.<br /><br />
8.7.2017 2:11<br />Parchanti nestudovali, díky ti, Vendeto.<br /><br />
10.7.2017 20:44<br />Uff! Soutěska.<br /><br />
12.7.2017 15:16<br /><strike>Kdyby ženský byly ženský, tak Čechy nejsou Čechy <i>(nic proti Češkám)</i>.</strike><br /><br />
17.8.2017 14:09<br />Done, Done.<br /><br />
13.10.2017 11:20<br />Kdo s láskou nejde, sám si spí.<br /><br />
13.10.2017 14:55<br />Prdel je prdel jenom když se utáhne.<br /><br />
12.1.2018 20:27<br />Velká válka začala!<br /><br />
13.1.2018 16:06<br />Stupidita psychiatrů a zapadu vyhrála nad lží a nenávistí slunečního krále. Nechť žije král pravý.<br /><br />
27.1.2018 18:16<br />Král krále vítá, ve chrámu svatého Víta.<br /><br />
10.2.2018 2:37<br />Dnes začalo české národní uzemnění. CIA.<br /><br />
13.2.2018 9:13<br />Kdo neumí, ten JUPÍ.<br /><br />
14.2.2018 11:41<br />Děkuji!<br /><br />
			... a pro dobrou vůli:<br />
			V Kuvajtu,<br />
			v kuvajtu,<br />
			upadla zas na Martu.<br /><br />
14.2.2018 11:48<br />Vítězný nám sněd sny!<br /><br />
14.2.2018 13:00<br />Slovy je ubil k smrti. Ať žije čeština.<br /><br />
17.2.2018 9:44<br />Underground si pohonil a SHARP ohlašuje vítězství. Nashledanou v lepších časech.<br /><br />
4.3.2018 15:31<br />Vítejte.<br /><br />
7.3.2018 9:02<br />Vzhledem k výměně a cestě do vesmíru organizovaných českou policií, je v Na Líše vina na Vaší straně.<br /><br />
8.3.2018 17:30<br />SHARP to má zas v prdeli,<br />
			sejdem se zas v neděli.<br />
			Jenerál.<br /><br />
9.3.2018 1:11<br />... a je dobře.<br /><br />
12.3.2018 10:16<br />... bílá paní šla už dávno spát. - Konečně doma. Hlavní.<br /><br />
13.3.2018 8:13<br />České národní uzemnění zkončilo. CIA.<br /><br />
14.3.2018 12:10<br />Śtěkla podruhé.<br /><br />
20.3.2018 9:37<br />Zrada! Ať žije!<br /><br />
29.3.2018 6:48<br />Martin, Martin, Martínek,<br />
			urazil si prstýnek.<br /><br />
9.4.2018 3:19<br />Konečně zkončil seriál Omluvy a omluvičky.<br /><br />
25.4.2018 3:33<br />Velké díky psychiatrii za nadlidský výkon s těma blbečkama vně i vevnitř. ;o)<br />
	Léčba končí, boj opět nastává. SHARP.<br /><br />
<b>Motto:</b><br />Mé zkazky od zpětného soudu (nemyslím tím tímto web) vemeš když nejseš vůl. ;o)<br /><br />

<b>Trest:</b>Udelali se ve frasce.<br /><br />

20.5.2018 6:37<br />Lejla jede v Mercedesu,<br />
			je fakt high-way king,<br />
			je fakt high-way king!<br /><br />
20.6.2018 1:50<br />Von se zvednul, co?<br /><br />
14:27<br />Pizza dostala starce na chmelu. ;o)<br /><br />
19.8.2018 8:25<br />Tak finále: Takže: Komunismus jsem skolil já Martin Míka, Na Líše 28, PlzeŇ , a ty protikomunistický bojovníku nemáš ani na buben!!!!!!! (mezinárodně)<br /><br />
21.8.2018 16:11<br />Plzeň-Bory šumí na Lučinách.<br /><br />
22.8.2018 13:47<br />Přes úctu ke mě dostat jí? Škoda lásky, kterou jsem Čechám dal.<br /><br />
	<asp:HyperLink runat="server" Text="English version" OnPreRender="Link_PreRender"/>)
<br /><br />
=======================================================================================konec===========================<br />

	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
<asp:Panel runat="server" ID="pan" onPreRender="pan_PR">
	<h2><u>Download</u></h2>
    <asp:CheckBox ID="CheckBox1" runat="server" Text="Řadit podle data" AutoPostBack="True" OnLoad="CheckBox1_Load" onCheckedChanged="CheckBox1_CheckedChanged"></asp:CheckBox><br/>
    Složka: <asp:Label ID="LabelDir" runat="server" Text="~/pic/" OnLoad="LabelDir_Load"></asp:Label><br/>
</asp:Panel>
<br /><br /> 
Sponzor roundu "JÁ JENOM ČUMIM":<br />
<asp:Image runat="server" ImageUrl="~/pic/avatar_ad1.png"/><br />
    </asp:Panel>
    </div>
    </form>
</body>
</html>
