﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_dEFAULT" %>

<head runat="server">
    <title>Default view</title>
</head>

<body style="background-color:black;color:white
	">
<embed height="0px" width="0px" src="2.wav" />
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         <center>
         <asp:Table runat="server"><asp:TableRow><asp:TableCell Width="700" VerticalAlign="Top">
         <center>
	<asp:ImageButton ID="ImageMainButton" Height="666" ImageUrl="~/terra-mera.net.png" runat="server" OnClick="ISWB_OC"></asp:ImageButton>
        <br />
        <br />
        <br />
        (c) 2000.13 Unknown Soldier as a Martin MwM Meeka <br />
	Contact to admin<b>: eterra@terra-mera.net</b>
        <br />
        <br />
        <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="~/StampSample.aspx">Write down for e-mail here...</asp:HyperLink>       
        <br />
        <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="~/terra-mera_desktop.png">... and here is desktop picture.</asp:HyperLink>       
        </center>
   </asp:TableCell>
   <asp:TableCell Width="400" ></asp:TableCell>
   <asp:TableCell>
<center>
<asp:Panel ID="pan" runat="server" Visible="False" OnInit="OI">

</asp:Panel>
</center>   
<br /><br /><br />
   <center>
	<asp:Panel runat="server" Width="300">
note2000<b>.</b>13/2/22 == Bee thankfull, I am! - mera
</asp:Panel>
</center>

   </asp:TableCell></asp:TableRow></asp:Table>
   </center>
    </div>
    </form>
</body>

</html>
