﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Error on real-price.info</title>
	<link rel="shortcut icon" href="http://www.real-price.info/real_price.ico" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <center>
<br /><br /><br />
     <asp:Label ID="Label1" runat="server" Font-Underline="False" Font-Size="Large" Font-Bold="True">Oups, samething wrong with web.</asp:Label>

<br />
	If you see this often, please be paecefull, to <a href="mailto:info@real-price.info">info@real-price.info</a> .


    </center>
    </div>
    </form>
</body>
</html>
