﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StampSample.aspx.cs" Inherits="StampSample" %>

<head runat="server">
    <title>StampSample view</title>
</head>

<body style="background-color:black;color:white
	">
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         <center>
         <asp:Table runat="server"><asp:TableRow><asp:TableCell Width="700">
         <center>
	<asp:ImageButton ID="ImageStvoraButon" ImageUrl="~/terra-mera.net.png" runat="server" Height="666" OnClick="ISB_OC" ></asp:ImageButton>
        <br />
        <br />
        <br />
        (c) 2000.13 Unknown Soldier as a Martin MwM Meeka<br />
	Contact to admin<b>: eterra@terra-mera.net</b>
        </center>
   </asp:TableCell>
   <asp:TableCell Width="400" ></asp:TableCell>
   <asp:TableCell Width="300">
        <center>
            Special wish to stamp country selection -> 
            <asp:DropDownList ID="DropDownListStampCountry" runat="server" OnInit="DropDownListStampCountry_OnInit" 
                    OnSelectedIndexChanged="DropDownListStampCountry_OnSelectedIndexChanged" AutoPostBack="true">
            <asp:ListItem>no special wish</asp:ListItem>
            </asp:DropDownList>
            <br />
            <asp:Image ID="ImageStamp" runat="server" />
            
<br /><br /><br />
If you do not see stamp from your counry 
or it is not good for another political direction of your country,
send me, please, scan or at the best real stamp (mm@textovka.net)
- to you can pay under your stamps! <br />
(under stamp will be PayPal Pay button) <br />
        </center>
   </asp:TableCell></asp:TableRow></asp:Table>
   </center>
    </div>
    </form>
</body>
</html>
