﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="andy_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>andy's page / The Or</title>
<link rel="icon" href="textovka.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="textovka.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="textovka.png"/> 
<meta name="msapplication-TileColor" content="wheat"/>
</head>
<body>
    <div>
    <center>
<br/>
<image src=textovka.png> 
<br/>
<br/> <br/>
<image src=(c)andy.png> 
 <br/>

<h1>Mrtvo</h1>

<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Všude je mrtvo<br/>
a já nechápu důvod.<br/>
Všude je světlo<br/>
a já neznám svůj původ.
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

====================================================================================
<h1>Líbání</h1>
<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Jazyk vystrčený,<br/>
já dívám se,<br/>
oči přizavřený,<br/>
já líbám se!
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

====================================================================================
<h1>Domov</h1>
<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Domov mi chybí,<br/>
proč tu jsem?<br/>
Potřebuju rady,<br/>
přitom mám štěstí pod nosem.
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

====================================================================================
<h1>Srdce</h1>
<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Smutek mám v srdci,<br/>
slyšíš mě?<br/>
Poslouchat nechci,<br/>
vidíš mě!
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

====================================================================================
<h1>Tělo</h1>
<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Hezké tělo,<br/>
mě se líbí.<br/>
To mi chybělo<br/>
a pořád chybí.
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

====================================================================================
<h1>Alkohol</h1>
<asp:Table runat="server"><asp:TableRow><asp:TableCell Align="Center">
Všichni co okolo mě jsou - <br/>
- nechápu je.<br/>
Furt něco pijou,<br/>
nadávaj mě.
</asp:TableCell></asp:TableRow></asp:Table>
<br/> <br/>

<br/> <br/>

    </center>
    </div>

    </form>
</body>
</html>
