﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Chyba na the-or.cz</title>
<link rel="icon" href="http://www.the-or.cz/hammer.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://www.the-or.cz/hammer.ico" type="image/x-icon" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <center>
     <asp:Label ID="Label1" runat="server" Font-Underline="False" Font-Size="Large" Font-Bold="True">Oups, samething wrong with web.<br> Sakra, chybička se vloudila.</asp:Label>

<br />
	If you see this often, email, please, to <a href="mailto:mm@live-pass.info">mm@live-pass.info</a> .


    </center>
    </div>
    </form>
</body>
</html>
