﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_dEFAULT" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Default view</title>
<link rel="icon" href="~/white-magic_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/white-magic_icon.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/white_thing_inkscape.png"/> 
<meta name="msapplication-TileColor" content="cyan"/>
</head>

<body style="background-color:cyan;color:white
	">
<asp:Panel ID="ID" runat="server" Visible="False">
<embed height="0px" width="0px" src="1.wav" />
</asp:Panel>
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         
         <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="700" VerticalAlign="Top" HorizontalAlign="Center">
         
	<asp:ImageButton ID="ImageStvoraWhiteButton" ImageUrl="~/white_thing_inkscape.png" runat="server" Height="666" OnClick="ISWB_OC" ToolTip="...download..."></asp:ImageButton>
        <br />
        <br />
        <br />
        (c) 2000.13 Unknown Soldier as a Martin MwM Meeka <br />
	Contact to admin<b>: mitti@white-magic.net</b><br />
	<asp:HyperLink runat="server" NavigateUrl="http://www.white-magic.net/white-magic_desktop.png" Text="White magic desktop picture here." ForeColor="#B3B3B3"/><br />
	<asp:HyperLink runat="server" NavigateUrl="https://www.live-pass.info/" Text="...LiVE pAss... here." ForeColor="#B3B3B3"/><br />
	
    
   </asp:TableCell>
   <asp:TableCell Width="400" >
   </asp:TableCell>
   <asp:TableCell HorizontalAlign="Center">

<asp:Panel ID="pan" runat="server" Visible="False" OnLoad="OI" Width="300">
    <asp:CheckBox ID="CheckBox1" runat="server" Text="Order by date." AutoPostBack="True" OnCheckedChanged="ChB_OChCh"></asp:CheckBox><br/>
</asp:Panel>
  
 <br /><br /><br />
<asp:Image runat="server" ImageUrl="~/text3763.png" Width="300" ToolTip="http://www.c-o-b-r-a-s.org"/>
<br /><br /><br />
	<asp:Panel runat="server" Width="300">
   
	<h3>Welcome in tactic!</h3><br />
note2000<b>.</b>13-2-22 == Bee thankfull, I am!
        <br />
        <br />
        <br />
note2000<b>.</b>13-2-24 == Add <asp:HyperLink runat="server" NavigateUrl="~/Default_magic_org.aspx" Text="sample" ForeColor="#B3B3B3"/> for magic.org
        <br />
        <br />
        <br />
ansign2000<b>.</b>13-2-25 == Nothing more than you, losers inside nations of losers - magic was stoped - White magic is govering everything - please, stop every something doing, please, and for this ten years stop doing every - we everybody, we must thing about us and ;o)their;o) doing - let begins harmless peace of every - shame you, white magic
        <br />
        <br />
        <br />
ave2000<b>.</b>13-2-26 == I know that more is not more, because more is not more. More that me - white magic.
        <br />
        <br />
note2000<b>.</b>13-2-26 == Best everything for everything - white magic. for everything, naturely - white magic. in case of everything, of course...
        <br />
        <br />
        <br />
torso2000<b>.</b>13-2-28 == Don't learning yourself quickly. - You guickly dieing! white magic
        <br />
        <br />
        <br />
emma0-2000<b>.</b>13-3-1 == Possibility of use is lose. - white magic (Possibility of lose is use. - women)
        <br />
        <br />
        <br />
emma1-2000<b>.</b>13-3-1 == Take you what do you want from me, but leave me for me. - white magic 
        <br />
        <br />
        <br />
note_at_emma1-2000<b>.</b>13-3-2 == You can laught to us, at all, but we feel it. - white magic ---- Only we know that laught (love), that we must to smoke>. - white magic
        <br />
        <br />
        <br />
note_at_emmas-2000<b>.</b>13-3-2 == An enemy exists for the strategy. - white magic
        <br />
        <br />
        <br />
emma2-2000<b>.</b>13-3-6 == We us nothing. - white magic -- Nothing more than us. - game card "7"
        <br />
        <br />
        <br />
note_at_emma2-2000<b>.</b>13-3-6 == If you have more, you cannot it to ware. - white magic
        <br />
        <br />
        <br />
note1_at_emma2-2000<b>.</b>13-3-6 == If you have more, you have more, ha, ha, ha. - white magic
        <br />
        <br />
        <br />
note_at_all-2000<b>.</b>13-3-6 == If you have less only, we cannot to heard you. - white magic
        <br />
        <br />
        <br />
note2_at_emma2-2000<b>.</b>13-3-6 == If you have more than more, you have nothig - and it is good start. - white magic
        <br />
        <br />
        <br />
emma3-2000<b>.</b>13-3-7 == nothing happend - white magic
        <br />
        <br />
        <br />
note_at_emma3-2000<b>.</b>13-3-7 == In every possible cases ;o) - everybody
        <br />
        <br />
        <br />
cortum-2000<b>.</b>13-3-8 == WE - means everybody in case of existing power, which (whoam) is govered to us by love and power. By Kan-Li (blood) and Fu (power). This basic standarts are normal, don't be shame on yourself, if you feel it this way, but don't forget: the highest lore is to be peacefull. - white magic
        <br />
        <br />
        <br />
trota-2000<b>.</b>13-3-8 == When it starts? - Who asking for this, is a child. - Who knows it, is mad man! - everybody 
        <br />
        <br />
        <br />
note_at_trota-2000<b>.</b>13-3-8 == Somewhere in the world exists mad man. - white magic
        <br />
        <br />
        <br />
trota_at_tall-2000<b>.</b>13-3-9 == A side is your side and when a side is in deffence, you must bring friends to that side. - white magic 
        <br />
        <br />
        <br />
note_at_trota_at_tall-2000<b>.</b>13-3-9 == You must talk, you must fight - to you gover the fight!! Mainly the strong fight. - white magic
        <br />
        <br />
        <br />
emma4-2000<b>.</b>13-3-15 == The basic of showing of white is don't care about fight, because you never know who(am) are you hearding to. - white magic
        <br />
        <br />
        <br />
note_at_emma4-2000<b>.</b>13-3-15 == ... but you must fight in every second from born to born )). - white magic
        <br />
        <br />
        <br />
emma5-2000<b>.</b>13-3-15 == Deep must to be in you, not in your studies. - white magic
        <br />
        <br />
        <br />
note_at_emma5-2000<b>.</b>13-3-15 == It is normal when you are not white mage. - white magic & everybody
        <br />
        <br />
        <br />
verdi-2000<b>.</b>13-3-15 == If the body exists and not don't exists, how it is in many cases, is exists. - white magic, which is copying by J. Werich 
        <br />
        <br />
        <br />
predix-2000<b>.</b>13-3-18 == Older bloo'd creating bad people naturely by their wish to be better and it is not bad. - everybody
        <br />
        <br />
        <br />
note_at_predix-2000<b>.</b>13-3-18 == It is biggest problem in the world. - white magic (not all around, really)
        <br />
        <br />
        <br />
verdi1-2000<b>.</b>13-3-22 == Enything was - enything is - enything will be. - everybody - This is our responsibility. - white magic
        <br />
        <br />
        <br />
note_at_verdi1-2000<b>.</b>13-3-22 == That's why we are for a little crazy in our madness. - white magic
        <br />
        <br />
        <br />
verdi2-2000<b>.</b>13-3-25 == Our enemy can to gover us. - white magic
        <br />
        <br />
        <br />
verdi3=note_at_verdi2-2000<b>.</b>13-3-25 == We are in the situation what we are )). - white magic
        <br />
        <br />
        <br />
        <br />
note_at_verdi3-2000<b>.</b>13-12-14 == What will be afraid? A knife?! - white magic
       
        <br />
        <br />
        <br />
        <br />
atta-2014-1-5 == We doing it for you, that way for us, it means for you. - white magic
        <br />
        <br />
        <br />
        <br />
note_at_atta-2014-1-5 == Theory of record announce that best is do nothing in case of record. - white magic
        <br />
        <br />
        <br />
        <br />
catta-2014-1-26 == I can do it to you, because I am not (like) you. - (because) white magic 
        <br />
        <br />
        <br />
        <br />
temma-2014-6-5 == It is allways to be, It is allways to be... - white magic 
        <br />
        <br />
        <br />
        <br />
verdi<u><b>4</b></u>-2014-7-24 == True and white magic allways to win. - white magic 
        <br />
        <br />
        <br />
        <br />
note_verdi<u><b>4</b></u>-2014-7-24 == If it is not winning - it is not white magic. - white magic 
        <br />
        <br />
        <br />
        <br />
verdi5-2014-7-24 == We like ourselves, becouse we afraid of. - white magic about everybody
        <br />
        <br />
        <br />
        <br />
note_at_verdi5-2014-7-24 == ... and it is good. - white magic 
        <br />
        <br />
        <br />
        <br />
catta1-2014-7-29 == We are pro, more we pie. - white magic
        <br />
        <br />
        <br />
        <br />
temma1-2014-7-30 == You need theory and enterprise to everything. - white magic 
        <br />
        <br />
        <br />
        <br />
verdi6-2014-7-30 == If destiny says lose, you to obey, even to deth. - white magic 
        <br />
        <br />
        <br />
        <br />
verdi350/80-2015-1-5 == <b>White magic have a hard ends. Try to be prepared!</b> - Kan-Li friend! ([2018-6-20] if sin, so every)
        <br />
        <br />
        <br />
        <br />
verdi_tona-2015-1-19 == It just cannot be posible! - reality in the exitence (of white magic)
        <br />
        <br />
        <br />
        <br />
verdi_lata-2015-1-28 == Když to chceš, chtěj to pořádně! --- When you want it - you must require it by the right way ;o)! - EVERYBODY IN EXISTENCE (OF REALITY)
        <br />
        <br />
        <br />
        <br />
note_at_verdi_lata-2015-3-22 == If are you waitting, wait. - EVERYBODY IN EXISTENCE (OF REALITY)
        <br />
        <br />
        <br />
        <br />
parti-mana-2015-3-2 == <asp:Label runat="server" ForeColor="Cyan">▓▓</asp:Label>▓▓<asp:Label runat="server" ForeColor="Cyan">▓▓</asp:Label><br />
<asp:Label runat="server" ForeColor="Cyan">parti-mana-2015-3-2 == </asp:Label>▓▓▓▓▓▓<br />
<asp:Label runat="server" ForeColor="Cyan">parti-mana-2015-3-2 == ▓▓</asp:Label>▓▓<asp:Label runat="server" ForeColor="Cyan">▓▓</asp:Label><br />
 He's gone! Yes! WE ARE! - Ranibow Star.
        <br /> [2015-3-6 18:33]
        <br />
        <br />
        <br />
        <br />
pata-2017-3-8 == If are you waitting, it's comming. - EVERYBODY IN EXISTENCE (OF REALITY)
        <br />
        <br />
        <br />
        <br />
mitti_at_verdi-2017-3-8 == I'm butter, robot is more.
        <br />
        <br />
        <br />
        <br />
white_magic_at_verdi-2017-5-13 == Cheese is more than war!
        <br />
        <br />
        <br />
        <br />
mitti_at_pragma-2018-2-24 9:50 == World is ready, bye!
        <br />
        <br />
        <br />
        <br />
pragma-2018-2-24 15:55 == World is!
        <br />
        <br />
        <br />
        <br />
pragma2-2018-5-7 17:52 == Done with you.
        <br />
        <br />
        <br />
        <br />
note_at_pragma2-2018-6-20 2:03 == Agains total strategy we engage Total gas stations.
        <br />
        <br />
        <br />
        <br />
note_at_note_at_pragma2-2018-10-22 21:00 == And total strategy starts to "bring fruits". - white magic
</asp:Panel>

   </asp:TableCell></asp:TableRow></asp:Table>

    </div>
    </form>
</body>

</html>
