﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default_magic_org.aspx.cs" Inherits="Default_magic_org" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sample view</title>
</head>

<body style="background-color:black;color:white
	">
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         
         <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="700" VerticalAlign="Top" HorizontalAlign="Center">
         
	<asp:ImageButton ID="ImageMagicSampleButton" ImageUrl="~/pic/magic_org.png" runat="server" Height="420" OnClick="ISWB_OC" ToolTip="...click..."/>
        <br />
        <br />
        <br />
        (c) 2000.13 Unknown Soldier as a Martin MwM Meeka <br />
        
   </asp:TableCell>
   <asp:TableCell Width="400" ></asp:TableCell>
   <asp:TableCell HorizontalAlign="Center">

<asp:Panel ID="pan" runat="server" Visible="False" OnInit="OI">
</asp:Panel>

	<asp:Panel runat="server" Width="300">
        <br />
        <br />
        <br />
   
note2000<b>.</b>13/2/24 == Bee thankfull, I am! - magic -- Ach!
</asp:Panel>
   </asp:TableCell></asp:TableRow></asp:Table>
    </div>
    </form>
</body>

</html>
