﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="download_Default" %>

<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	<center><h2>LIBRI PROHIBITI</h2>
V nesnade zapalu prehodili predpoklad a nasledek, v dusledku cehoz vzniklo toto dilo:<b>Jen tak</b>!<br/>
Jen tak cinili a Jen tak to bylo nazvano. Je to svedectvi o dobe te, ktere se neda cist, tak jako doba sama. Doba tato nebude zapsana do historie tak jako hlavni dukaz soudu s Kralem.<br/><br/>
Zijte blaze a vezte, ze zas takto se zadari - tehdy se zas zblaznite uplne - mnisi.<br/><br/><br/><br/><br/>
</center>
    </div>
    </form>
</body>
</html>
