﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Code.aspx.cs" Inherits="live_CODE" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" translate="no">

<head runat="server">
    <title>CODE TESLAedit</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
</head>

<body style="font-family:Courier
	 ">
    <form id="form1" runat="server">
    <div>
<asp:Image runat="server" ImageUrl="~/path3765.png" Width="323" />
<br /><br /><br />
	<asp:Panel ID="P1" runat="server" OnLoad="F0_OnLoad">
   
</asp:Panel>
<center><asp:HyperLink runat="server" OnLoad="HL">-..-</asp:HyperLink></center>

    </div>
    </form>
</body>

</html>
