﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="TESLAedit_Default" %>
<html>
<head runat="server">
    <title>[TESLA].[edit]</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
</head>
<body style="font-family:Courier
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
        <asp:HyperLink runat="server" OnLoad="HL">CODE TESLAedit</asp:HyperLink>
	<br/><br/><br/><asp:Image runat="server" ImageUrl="~/tesla.png" Width="400"/><br/><br/><br/>
	<asp:Label runat="server" ID="W" Text="*WRONG*" ForeColor="#ffef56" BackColor="#1d7c24" Visible="False"/>
	<asp:TextBox runat="server" TextMode="SingleLine" Width="400" ForeColor="#ffef56" BackColor="#1d7c24"  Text="login:"  OnTextChanged="TESLAedit" autocomplete="off" AutoPostBack="True" Font-Names="Courier" AutoCompleteType="None" />
	<asp:Label runat="server" ID="P" Text="*PASSWORD*" ForeColor="#ffef56" BackColor="#1d7c24" Visible="False"/>
	<br/><br/><br/><asp:Image runat="server" ImageUrl="~/tesla.png" Width="400"/><br/><br/><br/>
	<asp:Panel runat="server" OnPreRender="TESLAeditScreen" HorizontalAlign="Center"></asp:Panel>
	<a href="http://modra-schranka.cz/">-..-</a>

	</asp:Panel>


    </div>
    </form>
</body>
</html>
