﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="download_Default" %>

<head runat="server">
    <title>OBRAZY</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	<center><h2>OBRAZY</h2>
<a href="Usvit.aspx">I. Usvit</a><br/>
<a href="Priliv.aspx">II. Priliv</a><br/>
<a href="Noc.aspx">III. Noc</a><br/>
<br/>(c) LP2015 Martin Kreag<br/></center>
    </div>
    </form>
</body>
</html>
