﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="download_Default" %>

<head runat="server">
    <title>OBRAZY/Priliv</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	<h2>II. Priliv</h2>
<asp:Label runat="server" Text="www" ForeColor="White"/> Stala na brehu more a zivala nudou. V tom zahledla nadchazejici priliv a lod'ky. Byly asi tri, svazane k sobe. Pomalu dosla k mistu, kde k nim bylo ze brehu nejblize, a zacala premyslet, co nimi udela a jestli tam neni nejaka mrtvola.<br/>
<asp:Label runat="server" Text="www" ForeColor="White"/> 
<br/>
<br/>(c) LP2015 Martin Kreag<br/>
    </div>
    </form>
</body>
</html>
