﻿    <%@ Page Language="C#" AutoEventWireup="true" CodeFile="2012.aspx.cs" Inherits="_2012" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>2012</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
        <asp:Label ID="Label1" runat="server" Font-Size="X-Large" Font-Bold="False">12. prosince</asp:Label>
        <br />
        <asp:Label ID="Label2" runat="server" Font-Underline="True" Font-Bold="True" Font-Size="100px">2012</asp:Label>
    
    <br /><br />
    Email: mitti@white-magic.net .
</asp:Panel>
    <br /><br /><br /><br /><br />
    <asp:Label ID="Label3" runat="server" Text="Label" ForeColor="White">FUCK OFF!</asp:Label>
    U tvůrce si člověk nikdy není jist, jak to myslí. Tak ani my nevíme, jak to myslel Nostradámus. U Astéků je to něco jiného - končí jim jistý druh strategie zvaný kalendář. Budou se dít zřejmě nějaké
    nepředvídatelné věci s flórou i faunou, osobně se docela těším, ono taky celá naše doba je o změnách, mladí nechtějí nosit to samé co staří a pod. - aspoň si užijem! Dokonce se některé děje dají i
    iniciovat, ale to všechno přijde.
    <br />
    <asp:Label ID="Label4" runat="server" Text="Label" ForeColor="White">FUCK OFF!</asp:Label>
    Jak se připravit: Nebude to asi nic jednoduchého, nic jako naskládat si svršky dle připraveného seznamu a pak je zkontrolovat, jako když jsme jezdili na pionýrské tábory. Viděl bych to mnohem 
    komlikovanější. Musíme se připravit na cokoli. Já osobně konec máyského kalendáře cítím jako konec světa, tak jak ho známe, a nemyslím si, že ho bude provázet nějaká katastrofa. Nic hrozného - zvýší se 
    počet lokálních katastrof a mezi tím popadá pár lidí, kteří jsou až příliž "napojeni" na nereálnost reality. Dívíte se? Já vůbec, v dnešní době je mnoho až sektářských skupin, které se snaží ovládat
    člověka i jinak než slovem. Pro Vás znalejší, kteří už chápou, kam mířím, zde mám nápad: Pojďme, zamotáme je! Ať jejich vůdci poznaj sílu reality (boží sílu), a ať jejich ovečky poznaj, kdo jsou jejich
    vůdci zač. Mluvím o Reiky, různých sektách, o všem moderně tajemném s až jasnými zákoutími pravidel. Jakmile zjistíte, že se někdo nechal léčit Reiky, udělejte všechno proto, aby se mu neduch vrátil, tím
    docílíme nestability systému a numerologické síly, ve všech kalendářích obsažené, se už postarají o zbytek. Důležité je celé ty dva roky vydržet. A uvidíme, možná že bude naše snažení zbytečné, ale s Reiky 
    a podobnými ksindly to chce stejně bojovat, tak proč k tomu nevyužít sílu imaginace konce něčeho pro svět důležitého.
    <br />
    <asp:Label ID="Label5" runat="server" Text="Label" ForeColor="White">FUCK OFF!</asp:Label>
    Tak to je můj nápad. Ještě datum sepsání: 23.4.2011. A odpočet, když je to na počítači, to by jinak nešlo. Tak zatím čau, a zase příště, sejdeme se jako obvykle ... ;o)
    <br /><br />
    <asp:Label ID="Label6" runat="server" Text="Label" ForeColor="White">FUCK OFF!</asp:Label>
    P.S. To víte, že Vatikán naše počítání let o posunul o něco zpátky - jestli to není o 12 let. Je to sranda o tom přemýšlet - to by se pak Nostradámova předpověď vztahovala až k roku 2012. No pevné nervy 
    a málo
    tlačenic. ;o)
    <br /><br /><br />
        <asp:Panel ID="Panel2" runat="server" HorizontalAlign="Center">
        <asp:Label ID="LabelOdpocet" runat="server" Text="" Font-Size="X-Large" Font-Bold="True" OnInit="LabelOdpocet_OnInit"></asp:Label><br /><br /><br />
<a href="Original.aspx?file=pic/pripitek_ke_konci_máyského_kalendáře.mpg&content=video/mpeg">Přípitek</a>
    </asp:Panel>
    </div>
    </form>
</body>
</html>
