﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Or</title>
<link rel="icon" href="http://www.the-or.cz/hammer.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://www.the-or.cz/hammer.ico" type="image/x-icon" />
</head>
<body>
    <form id="form1" runat="server">
    <div><asp:Panel runat="server" ID="zvuk" Visible="False">
<embed height="0px" width="0px" src="paranoia_song_czech.wav" />
</asp:Panel> 
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
icon: <asp:Image runat="server" ID="icon" ImageUrl="~/hammer.png"/><br />
	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
<b><u>MÁ POMSTA SLÁDNE, TAK JAK VAŠE "láskyplná" latentní SCHIsOFReNIE VÁM VLÁDNE</u></b><br />
Doufám, že to uhrajete na <strike>schizofrenii</strike> Schredinger's cat complex (Diagnóza: V evropské společnosti je velice rozšířen komplex Schredingerovi kočky způsobující zatemnění mysli a následně mnoho psychiatrických chorob způsobený okolnostmi komlexu Schredingerovi kočky - nechuti k životu, halucinacím a snům spůsobenými zatajováním informací ať už jedincem samotným nebo je to druhotně antropologicky získané ze společnosti.) , protože jinak se musíte nechat zavřít do blázince pro pokus o sebevraždu.<br />
Já v tom nechci žít, tak jsem blázen. A vy undergroundisté byste mohli bejt třeba psychiatři.<br/>
[2015-4-11] Po nenadálých příznacích fingované války, uklidnil se pacient na bázi ničeho, doporučuji převedení paměti s kombinaci věci, místa, věci. ;o)<br/>
<br /> <br />
	<a href="./Rakoska.aspx">Spolek za návrat rákosky do škol</a>
    <br />
	<a href="./2012.aspx">něco o konci máyského kalendáře v roce 2012</a>
    <br />
	<a href="./pic/pf2015.png">PF 2015 White Chrismas</a> ------
	<a href="./pic/pf2015_sharp.png">PF 2015 The Or</a>
    <br />
	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
	<a href="sue.us.aspx">SUE.US</a>
    <br />
	<a href="http://obrazy.the-or.cz">sbírka OBRAZY</a>    <br />
	<a href="http://podivna-zahrada.cz">Pozvánka do internetového chrámu podivna-zahrada.cz</a>
    <br />
	<a href="zk.aspx">Žákovská knížka tohoto světa.</a>
    <br />
        <asp:Button ID="ButtonZvuk" runat="server" Text="...Zvuk(Sound)..." OnClick="Zvuk_Click"/>
<br /><br /><br /><br />
<asp:Image runat="server" ID="NOFUN" ImageUrl="~/no.fu.n.png"/>
<br />
	<asp:HyperLink runat="server" Text="Česká verze" OnPreRender="Link_PreRender"/>
<br /><br />
2011-9-7 12:00:10<br />
Today we celebrate start of World Famous <a href="REV.aspx">Quiet Revolucion+</a>.<br />
Every undergrouds, anarchists, hipies etc., when you want to protest - be quiet.<br />
Thank you for understanding...<br />
WORLD IS OUR, BECAUSE WE ARE NOT LAZY!<br /> (... and we don't affraid of(to) ourselfs...)<br />
<br /><br />
2014-7-28 8:56<br />
Ave together. Good work... Main you, 3rd from left ;o).<br /> 
Quiet Revolution ends by moral war. I wish good solution to every man or woman on this planet. It was dangerous times theese 2014.
<br /><br />
2014-8-14 9:57<br />
Ave together. Good work... Main you, 3rd from right ;o).<br /> 
<i>Definetly:</i> A million years old kommunist man says: <b>In this case I must lose.</b> (This is kommunist way - by sacrifice in law. Kummunism is utopia, but kommunist man won many battles on(for) side of goodness.)
<br /><br />
2014-8-15 11:31<br />
Ave together. Good work... Main you, menace - 3rd from left ;o).<br /> 
If you can see, it is nice morning with nice "grass" in my hand. I don't know if They still thinking. I think that we can do enything with Them now. <u>More we can</u> start <b>BUCCAGEE REVOLUTION</b>. If it is written wrong, I am sorry - it not my style, but it's enough...
<br />
17:03<br />
Ends tears from Avvillon, which have a honor to fall on planet Dune. Live in awe and be good. Here on planet Dune becoming biggest battle between good and evil. Thanks for fun to Europa in before.
<br /><br />
2014-8-16 15:55<br />
Voices hanging the biggest joke all over the worlds, in all nations and of everything living: Psychiatrist cannot be insane! Give it for better, my friends ;o).
<br />
16:20<br />
Battle ends by winning of goodness naturely and of course on TJ Lokomotiva Pilsen Czech Rep. ;o).
<br />
17:34<br />
Whichers are dead forever. Ashouls - atack after battle ;o). Classic meanwhile. ;o).<br />
18:14<br />
Evil whichs are dead too. Classic meanwhile. Before his mother ;o).
<br /><br />
2014-8-18 5:00<br />
<strike>Mornarchy is dead.</strike> Now we must to find how They do it ;o). Best for karma. Thanks for understanding.<br />
<i>2014-12-22 11:24<br />
What about limited monarchy with secret election of a King.</i>
<br /><br />
2014-8-18 15:40<br />
Ave together! 7 yeeeeeeeeeeeeeeeears loooooooong in time - - ends now - - throoooooowing towels to rrrrrrrrrrrrrring. Ha ha ha ha ha ha ha ha ha ha.
<br /><br />
2014-10-6 19:32<br />
TWEIN is dead.
<br /><br />
2014-10-14 8:18<br />
Beer only for wanted! (want it ;o)
<br /><br />
2014-10-14 8:18<br />
We are again and again. Thanks a lot, we don't want anything. SHARPS+!
<br />
[2015-5-16 8:41] Moment of showing by a definition: <i>We love women by the way, how they hate themselfs by men of Others.</i> SHARPS<br />
<asp:Image runat="server" ImageUrl="~/380_eng.png"/>
<br />
2014-12-26 14:55<br />
The End (of Star Wars - Thank you Earth, are you crazy?! ;o)
<br /><br />
2015-1-4 00:52<br />
... and peace start to gover in Shire. Thanks to Kan-Li - friend.
<br /><br />
2015-1-7 10:50<br />
It was here - Kan-li treachery. Kan-Li friend. (Imperium law was feated! 2015-1-29)<br />
[2015-4-27 19:40]<i>There was chain down revolt of wises! Check your wife by fist.</i> K.-L.-special
<br /><br />
15:22<br />
In the year of (19)78 starts new story named New Age. Enjoy it!
<br /><br />
2015-1-10 6:02<br />
Impérium: done. Treachery ends, thanks for her :Kan-Li.<br />
[2015-1-29 16:57]
<br /><br />
2015-1-23 21:18<br />
We are going to bend a stave. Fasten your seat belts, please. ;o) god
<br /><br />
2015-1-29 17:04<br />
It hard to keep up on women fairly! ;o) INUNAN!
<br /><br />
2015-2-2 17:17<br />
Don't you think, that anger is contagious, backward note? Tazman devil.
<br /><br />
2015-4-15 10:17<br />
Little fistes in little darkness<br />
================================<br />
You my little underground,<br />
you my little Saints,<br />
you my little underground,<br />
you my little pants.<br />
<i>I doesn't were it, thanks!</i>
<br /><br />
2015-4-21 7:22<br />
Do not write it - or to write it down - dead is a question. HappyPaers. ;oD
<br /><br />
2015-4-25 20:24<br />
Little undergroud is dead! 1000000 years old udergroud so lives!!!!!!!! Solved! Uff! Howgh, Simple. ;o)
<br /><br />
21:13<br />
<asp:Image runat="server" ImageUrl="~/leafBYlordOfchlamedi.png"/>
<br /><br />
2015-5-8-13 20:19<br />
Omega, omega - sigma Olomouc! ;o0 to America: Please - affraid of <a href="saw.us.aspx">europiens Sredinger's cat's complex</a>!
<br /><br />
2015-5-27 16:08<br />
moral war ends. winner: soap. ;o)
<br /><br />
2016-11-25 13:34<br />
finaly done, to mama africa
<br /><br />
2016-12-5 14:36<br />
Women is free.
<br /><br />
2016-12-28 15:44<br />
Done!
 1<br /><br />
2017-4-9 13:12<br />This is the end.
<br /><br />
2017-5-13 21:04<br />I´m king of cider.
<br /><br />
2017-5-14 16:28<br />King is 
dead - let to live.<br /><br />
2017-5-27 16:06<br />Scurut-hai done.<br /><br />
2017-6-3 2:10<br />Electroshock therapy overrided.<br /><br />
2017-6-5 22:19<br />

<asp:Image runat="server" ImageUrl="~/pa.png"/><br /><br />
2017-6-13 5:53<br />... and start to dieing, you elfs.<br /><br />
2017-6-25 7:57<br />... and sun rise above our Moana.<br /><br />
2017-7-5 12:00<br />... and  Android is in Czech sirenas.<br /><br />
2017-8-5 2:15<br />Fire.<br /><br />
2017-8-17 14:09<br />Done, Don.<br /><br />
2018-1-12 20:27<br />Big war began!<br /><br />
2018-1-27 18:16<br />Greatings, sire.<br /><br />
2018-2-14 11:41<br />Thank you.<br /><br />
2018-4-5 20:08<br />SOLARIS done.<br /><br />
2018-9-20 19:13<br />KILLER LOOP - moments before detonation.<br /><br />
	<asp:HyperLink runat="server" Text="Česká verze" OnPreRender="Link_PreRender"/>
<br /><br />
=======================================================================================theEnd===========================<br />
	<a href="https://www.live-pass.info/download/">--- SEcURE DOwN LOAD ---</a>
    <br />
<asp:Panel runat=server ID="pan" onPreRender="pan_PR">
	<h2><u>Download</u></h2>
    <asp:CheckBox ID="CheckBox1" runat="server" Text="Order by date" AutoPostBack="True" OnLoad="CheckBox1_Load" onCheckedChanged="CheckBox1_CheckedChanged"></asp:CheckBox><br/>
    Folder: <asp:Label ID="LabelDir" runat="server" Text="~/pic/" OnLoad="LabelDir_Load"></asp:Label><br/>
</asp:Panel> 
<br /><br /> 
Sponsor of this round:<br />
<asp:Image runat="server" ImageUrl="~/pic/avatar_ad1.png"/><br />
    </asp:Panel>
    </div>
    </form>
</body>
</html>
