﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="REV.aspx.cs" Inherits="REV" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Summary 1 of Quiet Revolution</title>
  <link rel="icon" href="http://www.the-or.cz/the-or.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://www.the-or.cz/the-or.ico" type="image/x-icon" />
</head>
<body>
    <form id="form1" runat="server">
    <div>

	3.1.2012<br />
	What happend in Quiet Revolution, to theese days? How to write down and don't be marked as a paranoic.<br />
	So MANY, MANY thing was happend in last months. The most important was that nobody from you was heard. That's good! Their plan is start fight between youngs and then chain it down. It's really important to figure out, that in post-communist countries is now "peace" and you have "nowhere to hide". Explan of radicals all around the world was, modeling both societies to peace and not shooting to demostrants. Now they have no reason to shoot, and no reason to don't shoot. Please be quiet. Thank you for understanding. It's peace now... The Or
	<br /><br />
	9.1.2012<br />
	Nobody wants to be a cancer? Hm, Want I can do now...<br />
	(To nonradicals fans of this site, I am more famous between "nonradicals fans", than between you, radicals ;o).
	<br /><br />
	16.1.2012<br />
	Last massage is not critical and I am dement ;o).<br /><br />
	20.1.2012 cca 1:30 (+2GMT)<br />
	Astral basics of secret services, was ended (bad and good together). Have nice day. It's up to you ;o). Make !komunit! section in all political parties. Join it!<br />
	4:41 (+2GMT(winter time in czech))<br />
	Now when I thinking about my first critical new in Quiet Revolution Summary 1, I find that in the moment when was clear that comunism fell down in Europa, they bring to you a Status Quo for using drugs and radicalism, and now they want only chain it down (after some preparings 10-20years). <b>So my reason is let yours Status Quo live and be quit, let the today's focus of your sociates live forever!</b><br />
    	<asp:Button ID="ipButton" runat="server" Text="... more text for you - you must show your IP here ..." OnClick="ipButton_Click"/><br />
	<asp:Label ID="ipLabel" runat="server" OnLoad="ipLabel_Load" ></asp:Label><br />
	<asp:Label ID="secret" runat="server" Visible="false">
	NOTE: Drugs are outfall of modern way of healing, doctors way. Refer to it when somebody with incising in the body is tring to exlain to you, that you are disease of society. Take drugs easy and heal the world. 2012/6/18 <b>... so - TAKE DRUGS EASY - DON'T DRINK SO MUCH!</b> MUCH MUCH Much .... (don't go mad, alcoholics - it's only echo of eternity, not white mice, ha, ha, ha , have a nice day and don't be bad on nice people like us, YOU little BADS of your mothers - witchers ;o)
	<br /><br />
	25.1.2012 12:05(+2GMT)<br />
	Last massage is really <strike>not</strike> critical, but I am not dement ;o( ... Do not affraid of the situation. People around is not stupid. Better to write down: "In good prepairing is everything. Fashism and Communism. P.S. Is nice to creating history by a fatefulness. Hi, hi, Vatican." ;o)
	<br /><br />
	6.11.2012 19:06(+1GMT)<br />
	good work! Bad is bad. Great! Thanx for peace still being!!
	<br /><br />
	15.10.2013 18:20(+1GMT)<br />
	Mentalist is duality betwen crazy and good work. Good work mentalist ;o)!
	<br /><br />
	2.11.2013 9:47(+2GMT)<br />
	All team of film makers watching to me, what can I do ;o). note: Sheldon is the best, but Big Bang Theory!
	<br />By wish of Jim Parson: Jim Parson whants to say: Don't regret anybody.
	<br />Haw to say it: Don't explaining it to them (in akcion yes), but gover to them. To alkoholism.
	<br /><br />
	27.11.2013 22:87(+2GMT)<br />
	Quiet ... and peace...
	<br /><br />
	4.3.2014 8:29(+2GMT)<br />
	Poslední Záchvěvy čůrákova Práva LOL LOL LOL
	<br /><br />
	15.5.2014 13:18(+1GMT)<br />
	done, Don! LOL More cards don't belive to it ;o)
	<br /><br />
	29.5.2014 15:55(+1GMT)<br />
	Halelujah! You are great! I love all you, more bads ;o).
	<br /><br />
	8.7.2014 12:00(+1GMT)<br />
	Jung defeat Freud by frase: Sex is about grugs ;o).
	<br /><br />
	28.7.2014 16:05(+1GMT)<br />
	<b>5 days on giddy-go-round</b><br />
	<i>1st day:</i> Somebody hang my left hand, which I had to on giddy-go-round long time ago. It is weak, but for this 2 months is getting shape. Ride in that ambient and that deadly view of a camera, uwf. It is moment, really. So go on, here , here , here , here.<br />
	We are going throwgh block --- 16:20 and hce after --- 16:22 (admiration imidietly throwgh ---, ---, ---, gov. ---)<br />
	Note: Unsecure no! after 16:28<br />
	off the computer, flash, ---, on my phone from yesterday off, 3x flash 16:40<br />
	16:55 on the computer<br />
	START 18:50<br />
	<i>2nd day:</i>I slept in unlocked room. Wether is good ;o). 11:49<br />
	Somebody bite me to left hand. 18:46<br />
	I drink from bottle of water. 20:40<br />
	TypewriterS in TV. 21:51<br />
	<i>3rd day:</i>Today we will celebrate thumb of the bunny.-|\<br />
	Good. 19:59<br />
	<i>4th day:</i>-.<br />
	<i>5th day:</i>Police  transmitter from wall. Done. 9:03
	<br /><br />
	12.8.2014 16:05(+1GMT)<br />
	Today was find new viruses in fortness Europa: trojanMEEKA78 a trojanKREAG78 ;o) Thanks to ADF. Bye...
	</asp:Label>
<br /><br />
y2015-m5-d12 21:41 theHAPPYendOFrealREVolution ;oD G-:
<br /><br />
If you interested of author of this or consequences of Quiet Revolution see <a href="Default.aspx">root</a>.
<br /><br /><br />
<asp:Table runat="server">
<asp:TableRow>
<asp:TableCell>
Advertisments:
</asp:TableCell>
<asp:TableCell>
QU I E T RE V O L U T I O N: You will be like it!
<br />
Connect us! > QU I E T RE V O L U T I O N
<br />
Best QU I E T RE V O L U T I O N for everything!
<br />
B E (A) S T do it! QU I E T RE V O L U T I O N 
<br />
in any sense - your is brain working? WWW.THE-OR.CZ 2014-08-10 uff, may be.
<br /><br />

</asp:TableCell>
</asp:TableRow>
</asp:Table>
<asp:Table runat="server" CaptionAlign="Top">
<asp:TableRow><asp:TableCell>
      Name of subscriber:<br />
      <asp:TextBox ID="TextBoxUser" runat="server" MaxLength="20"></asp:TextBox>
      </asp:TableCell><asp:TableCell>
      Commentary or sugest your opinion:<br />
      <asp:TextBox ID="TextBoxComm" runat="server" TextMode="MultiLine" Height="100" Width="550"></asp:TextBox>
      </asp:TableCell><asp:TableCell>
      <asp:Button ID="ButtonPost" runat="server" Text="Post" OnClick="ButtonPost_OnClick"/>    
    </asp:TableCell></asp:TableRow></asp:Table>
 
        <asp:Panel ID="PanelComm" runat="server" OnPreRender="PanelComm_OnPreRender">
        </asp:Panel>     
	</div>
    </form>
</body>
</html>
