﻿    <%@ Page Language="C#" AutoEventWireup="true" CodeFile="saw.us.aspx.cs" Inherits="saw_us" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SUE.US</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
        <asp:Label ID="Label1" runat="server" Font-Size="X-Large" Font-Bold="False">SUE</asp:Label>
        <br /><b>.</b><br />
        <asp:Label ID="Label2" runat="server" Font-Underline="True" Font-Bold="True" Font-Size="100px">US</asp:Label>
    
    <br /><br />
    Email: mitti@white-magic.net .

    <br /><br /><br /><br /><br />
    
	In the time of past tens of heros, goes yours God to hell to ask if somewhere isn't better! ;o)
    <br /><br /><br />
[2015-5-16 14:57] In the times of broken swords and promises, was massage dedicated to you by Party of Round Table wrote to this file. Take above that Europe is holly  foul and was normal in the time of borning America only. Thats why, that they want to stop the life at all (hole quadrant), and we must to stop them through law (what can we judging through Shredinger's cat complex now). And through cards: use <a href="http://1tarum2cards1.com/">Tarum</a>, not Tarot (you can see a difference). So sue.us. Have a lucky day!  
         <br /><br /><br />
 <asp:Label ID="LabelOdpocet" runat="server" Text="" Font-Size="X-Large" Font-Bold="True" OnInit="LabelOdpocet_OnInit"></asp:Label><br />
    <br /><br /><br />
	P.S.: What does your do, when your doesn't believe?! ;oD <br />
    </asp:Panel>
    </div>
    </form>
</body>
</html>
