﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<head runat="server">
    <title>... Jednou jsem si naběhla...</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/modra_logo.png"/> 
<meta name="msapplication-TileColor" content="#e9e9e9"/>
</head>
<body >
    <form id="form1" runat="server">
    <div>
	<a href="http://hrnek-kafe.cz">..., ale pak jsem HO našla. (-: Nebo jsem musela?</a> 
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
        <br/><a href="Default.aspx">Pokračuj, prosím!</a><br/><a href="Sama_Doma.aspx">jeho právníka Báseň o nich.</a><br/><a href="http://negace.modra-schranka.cz/">Její N.E.G.</a><br/><br/><br/>
<asp:Image runat="server" ImageUrl="~/modra_logo.png"/><br/>

<br/><br/>Česká máma: „Yak to bilo, nebylo? Užje to dobrýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýýý... atd.‟ ;o)
<br/><br/>
<asp:Label runat="server" OnLoad="A"/>
<br/>
</asp:Panel>

    </div>
    </form>
</body>
</html>
