﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Sama_Doma.aspx.cs" Inherits="Screen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>U Sáma doma</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/modra_logo.png"/> 
<meta name="msapplication-TileColor" content="#e9e9e9"/>
<meta http-equiv="refresh" content="1;url=Original.aspx"/>
</head>
<body>
    <form id="form1" runat="server">
    <div>
	<a href="http://modra-schranka.cz/Default.aspx">... pokračovat dále...</a><br/>
    </div>
    </form>
</body>
</html>
