﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server" defaultfocus="T1">
    <div>
        <asp:TextBox ID="T1" runat="server" TextMode="SingleLine" autocomplete="off" AutoPostBack="True" OnTextChanged="T1_TCh" Width="400"></asp:TextBox><br/>
        <a href="Screen.aspx">Screen</a>
    </div>
    </form>
</body>
</html>
