﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>error</title>
</head>
<body 
	">
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
