﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Screen.aspx.cs" Inherits="Screen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Image ID="Image1" runat="server" ImageUrl="~/text3763.png" Width="400" /><br />
        <asp:Label ID="Label1" runat="server" OnLoad="Label1_Load"></asp:Label>
    </div>
    </form>
</body>
</html>
