﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>chyba</title>
<link rel="icon" href="~/kan-li_icon.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/kan-li_icon.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
<br /><br /><br />
     <asp:Label ID="Label1" runat="server" Font-Underline="False" Font-Size="Large" Font-Bold="True">Sakra, něco je s web sítem!<br />Damn, net wrong!</asp:Label>

<br />
	Jestli tohle vidíte často mailněte na mitti@white-magic.net .<br />
	If it is often, please, e-mail to...
<br />

    </asp:Panel>
    </div>
    </form>
</body>
</html>
