﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Losovani.aspx.cs" Inherits="Losovani" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Losování.</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
		<asp:Label runat="server" ID="Napis" Text=""/>
        </div>
    </form>
</body>
</html>
