﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>eRRor</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9;color:#6321e7;font-family:Courier
	">
    <form id="form1" runat="server">
    <div>
	<center>
	adv: *<a href="KOCHAM_advertisment.pdf">KOCHAM</a>*</center>
	<br/>
	<br/>
<asp:Label runat="server" OnLoad="B">lk\adjbalsjkvbbvksbhvksbvk;sbdvkcvhjbvgcaiC kabdfkb lkaflkADG FLAKdfg ikdbfg liadg cfia fgadikgf ;ghds;fais;udg k;dg f;kadgfc;kg iko;adg ikadgcfjhavdsd\csvj ahsv cjahsdvc javc ja\ vcj\gcdsv\ah bgcl\akigcf \lakbfcl\afgc\jklcfgk\aldg akld fgcdghkl\ghd cfkla\dgh ck\adghcfhkl\fgcdj\klgccg djl\ag jklfga\klg l\akdg faklg lk\adgs flk\agds k\agdsfcjkl\ aghkl\ adgfljkgafkl\ags f dou;ifwg9;PQ7TE9	 7128t 29p72te9 2ty e912t e8902et yp92 `y1	tep92egt p79egti1	2 egp972ET97ET12982tye890E Y280 T`Y2E8900EGT2DRI8YGD8 t79e2tpdgI892DG 7928GT D12789	 di78G D79GT D79 g89 tgtd79D GILGDI8	dgI	LY DGi	dg I8	Gd d7W7	DdgI8F GTWEFY ;oqefoy'oAFI afiu; gtIAFUG lqe79t igt 78Q3T 7Qi89t diQDGTIq7gdi7QDIqgwdiQGWILDUGwlid GILQT DFGILqdfgiDFGqdguilyFQWG DilqwdfgilFWDGildfgilQGDFILaqwgfilufgtquGFIULFGILUAGQfiluqAFGIULgafilGFDILfwgilFGailfgLIFGLFIlqfgliAGUFQgfiluqaegfilGQFILUGquigIUGiuGEIU gquegf ui GIUuiUFUGFG ugu gef GFELQGEFQLIFEGFUFGLIFG lefu GEFKLU gheuklqwhULEFGlkejfg JKUEFG;AHJKLEFJGHAKUFGFfK;GHakgfjfah kff k  kl;FLHa;/lfFLhlafhalfhalfdlkdfllkfkldfalfadslk.</asp:Label>
    <br/><br/>
    <br/><br/><center>
	adv: <asp:Image runat="server" ImageUrl="~/adv.png" Width="300"/><br/><br/><br/>
-- <a href="Obvineni.aspx">rap *KOCHAM*</a> & <a href="Obvineni.aspx">rap +PERFORMANS+</a> --<br/></center>
    </div>
    </form>
</body>
</html>
