﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Obvineni.aspx.cs" Inherits="Obvineni" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Obvineni-!!</title>
<link rel="icon" href="~/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/path3765.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9;color:#6321e7;font-family:Courier
	">
    <form id="form1" runat="server">
    <div>
<asp:Label runat="server" ID="B"/><br/>
	<center>
<h2>*KOCHAM*</h2>
Je zrejme, ze produktem doby jses ty. Tak jak ja jsem tva, tak tys svuj. -JEDINECNY-
<h2>+PERFORMANS+</h2>
Republika (dnes uz to mohu rici) byla stvorena Imperiem k pretvoreni karma do stavu znovu-pocatku. Mame na vyber: <u>bud'</u> upadnem pred policejnim autem drive nez nas srazi, nebo <u>nas</u> srazi. -SRAZENI POMOZme-
<h2><u>RESULTAT</u></h2>
Doporucuji dva caje s maslem, tedy trochu vtipu do toho umirani vecneho. Veci resit prezpetnenim vseho ve vsem co delate. Verte, ze tato doba historicky neexistuje. Jen dobrym byl, dobre mu je a bude - kdo vyuzival, nezil (bylo dano vyjimecne upozorneni vzhledem ke kralovrazde v minulem Endu), z cehos je obvinen nizsi_agent Tesla. Z planu na krale jste obvineni vsichni - zbavujici vypovedi zasilejte na jakykoli nahodny e-mail se subjectem XJXXM. Obdrzenim upozorneni o neobdrzeni jste zprosteni viny. Dekuji, ze zijete. ;o)
<br/></center>
	</div>
	</form>
</body>
</html>
