﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="DL_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>[DOG'S-LAIR]</title>
<link rel="icon" href="http://belt-box.net/dogs-lair/path3765.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="http://belt-box.net/dogs-lair/path3765.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9;color:#6321e7;font-family:Courier
	">
    <form id="form1" runat="server">
    <div>
	<center>
	adv: *<a href="http://belt-box.net/dogs-lair/KOCHAM_advertisment.pdf">KOCHAM</a>*</center>
	If you want to WIN, fit IT!<br/>
	<br/>
	<br/>
	<br/>
	Fill the SOMETHING: <asp:Button runat="server" Text="______________________" OnClick="OnClick" OnLoad="OnLoad" BackColor="White" ForeColor="#6321e7"/>
	<br/>
	<br/>
	<br/>
	Fill the SOMETHING: <asp:Button runat="server" Text="______________________" OnClick="OnClick" OnLoad="OnLoad" BackColor="Yellow" ForeColor="#6321e7"/>
	<br/>
	<br/>
=============================================
	<br/>
	<br/>
	Fill the SOMETHING: <asp:Button runat="server" Text="______________________" OnClick="OnClick" OnLoad="OnLoad" BackColor="SandyBrown" ForeColor="#6321e7"/>
	<br/>
	<br/>
=============================================
	<br/>
	<br/>
	Fill the SOMETHING: <asp:Button runat="server" Text="______________________" OnClick="OnClick" OnLoad="OnLoad" BackColor="Black" ForeColor="#6321e7"/>
    <br/><br/>                                            
	<center>
	adv: <asp:Image runat="server" ImageUrl="http://belt-box.net/dogs-lair/adv.png"/></center>
	</div>
	</form>
</body>
</html>
