﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="kino_Default" %>

<head runat="server">
    <title>KINO</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
        <br /><br /><br /><br /><br />
        <asp:Image runat="server" ImageUrl="~/kino/Default.png" />
        <br /><br />
        <asp:Button runat="server" OnClick="Unnamed_Click" Text="-> Dále ->"/>
    </asp:Panel>
    </div>
    </form>
</body>
</html>
