﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Chyba</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" HorizontalAlign="Center">
     <asp:Label ID="Label1" runat="server" Font-Underline="False" Font-Size="Large" Font-Bold="True">Oups, samething wrong with web.<br> Sakra, chybička se vloudila.</asp:Label>

<br />
	If you see this often, email, please, to <a href="mailto:mm@mickey-software.cz">mm@mickey-software.cz</a> .


   </asp:Panel>
    </div>
    </form>
</body>
</html>
