﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>!game4upper!</title>
<link rel="icon" href="~/tarum.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/tarum.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/CardBack.png"/> 
<meta name="msapplication-TileColor" content="#e9e9e9"/>
</head>
<body style="background-color:#e9e9e9
	">
    <form id="form1" runat="server">
        <div>
            <asp:Panel runat="server" HorizontalAlign="Center">
            <br />
		<asp:ImageButton runat="server" ImageUrl="~/torch.png" OnClick="Torch"/><br />
		What you can drive,<br />
		you can to teach,<br />
		what it is in mind,<br />
		you can to reach!<br />
		<asp:Label runat="server" ForeColor="#999999">(c) 3torch13.production as a Dr DUD.</asp:Label>
		<br /><br /><br />
            <asp:Label runat="server" Font-Size="32" ToolTip="Uppers wins ever!">Tarum game4upper!</asp:Label> <br />
            <asp:HyperLink ID="Help" runat="server" ForeColor="Black" NavigateUrl="~/Default.aspx?help=1">g4u HELP of GAME u4g</asp:HyperLink><br />
            <asp:Panel ID="PanelHelp" runat="server" Visible="false" HorizontalAlign="Center">
		This game lies in overchanging of oponent's cards of yours uppers. This means game for uppers. Wins him, who have more harvested cards. Many luck...<br />
                <asp:HyperLink ID="HyperLinkCloseHelp" runat="server" NavigateUrl="~/Default.aspx" 
                    ForeColor="Black">Close HELP</asp:HyperLink>
            </asp:Panel>
            <br /><br />
            <asp:Image runat="server" ImageUrl="~/CardBack.ashx" ToolTip="That's yours Card. (*.png)"/><br /><br /><br />
            <asp:HyperLink ID="Start" runat="server" ForeColor="Black" NavigateUrl="~/Bitka.aspx" Font-Size="20">... START HERE ...</asp:HyperLink><br /><br />
		<asp:HyperLink ID="Statistic" runat="server" ForeColor="Black" NavigateUrl="~/Statistic.aspx">Statistics.</asp:HyperLink><br /><br />
            Advertisment: <asp:HyperLink runat="server" ForeColor="Black" NavigateUrl="http://vodafone.com/">Tha Party, you are calling is not available at the moment - - please, try another End Of World.</asp:HyperLink> ;o)<br /><br /><br />
            <asp:HyperLink ID="Back" runat="server" ForeColor="Black" NavigateUrl="http://podivna-zahrada.cz/" Visible="false">Back.<br /><br /></asp:HyperLink> 
            (c) AD2015 TAKE AIR ABOUT MY NUGGETS production.<br />
		</asp:Panel>
    </div>
    </form>
</body>
</html>
