﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Error.aspx.cs" Inherits="_Error" %>

<!DOCTYPE html >


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ERROR</title>
<link rel="icon" href="~/tarum.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/tarum.ico" type="image/x-icon" />
</head>
<body style="background-color:#e9e9e9
	">
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" HorizontalAlign="Center">
	You living in W.O.R.L.D. - ERROR is possible. (mitti@white-magic.net)
            </asp:Panel>
    </div>
    </form>
</body>
</html>
