﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LOVE1.aspx.cs" Inherits="LOVE1" %>
<html>
    <head runat="server">
    <title>Default view</title>
<meta http-equiv="refresh" content="30;url=Default.aspx"/>
</head>

<body style="background-color:#C3C3C3
	">
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         
         <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="700" VerticalAlign="Top" HorizontalAlign="Center">
         
	<asp:ImageButton ID="ImageStvoraButtomn" ImageUrl="~/blue-envenlope1.net.png" runat="server" Height="666" OnClick="ISB_OC"></asp:ImageButton>
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" ForeColor="White">(c) 2000.13 Unknown Soldier as a Martin MwM Meeka</asp:Label>
        <br />
        <br />
        <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="~/StampSample.aspx">Write down for e-mail here...</asp:HyperLink>       
        <br />
        <asp:HyperLink  runat="server" ForeColor="White" NavigateUrl="~/blue-envelope.net_desktop.png">... and here is desktop picture.</asp:HyperLink>       
        <br />
        <asp:HyperLink  ID="hymn" runat="server" ForeColor="White" NavigateUrl="~/1.wav">hymn</asp:HyperLink>       
        
   </asp:TableCell>
	<asp:TableCell>
   <asp:Table runat="server" CellSpacing="0"><asp:TableRow>
	<asp:TableCell Width="400" VerticalAlign="Top">
	</asp:TableCell>
   <asp:TableCell VerticalAlign="Top" HorizontalAlign="Left">
	<asp:Image ImageUrl="poust.bmp" runat="server" Width="200"/>
	</asp:TableCell></asp:TableRow>
	<asp:TableRow>
	<asp:TableCell Width="400" HorizontalAlign="Right" VerticalAlign="Top">
	<asp:Image ImageUrl="mantra_sracka.bmp" runat="server" Width="200"/>
	</asp:TableCell>
   <asp:TableCell VerticalAlign="Top" Width="400" HorizontalAlign="Left">
	<asp:Image ImageUrl="Manata.bmp" runat="server" Width="200"/>
	<asp:Image ImageUrl="kour.bmp" runat="server" Width="200"/>
        <br />
	<asp:Image ImageUrl="voda_zivota.bmp" runat="server" Width="200"/>
        <br />
	<asp:Image ImageUrl="voda.bmp" runat="server" Width="200"/>
        <br />
        <br />
        <br />
     <asp:Label ID="Label2" runat="server" ForeColor="White">Manata kerata<br>
-------------- 15.10.10.10.10.10.10 years<br>
kura Manata ta<br>
-------------- 5.10.10.10.10.10.10 years<br>
Manata kurata<br>
<br>
<br>
<br>
<br><br>
cotte: Take it e.a.sy. , ladies, and <b>be thankfull to every</b> your <b>hit.</b>
<br><br>
=---=

</asp:Label>   
</asp:TableCell></asp:TableRow></asp:Table>
</asp:TableCell></asp:TableRow></asp:Table>
   
    </div>
    </form>
</body>
</html>
