﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Code.aspx.cs" Inherits="live_CODE" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" translate="no">

<head runat="server">
    <title>...LiVE pAss... CODE</title>
</head>

<body style="color:#ff6b37;background-color:#ffB765
	 ">
    <form id="form1" runat="server">
    <div>
<asp:Image runat="server" ImageUrl="~/text3763.png" Width="323" ToolTip="http://www.c-o-b-r-a-s.org"/>
<br /><br /><br />
	<asp:Panel ID="P1" runat="server" OnLoad="F0_OnLoad">
   
note2013/2/24 == Be thankfull, I am! ...LiVE pAss+...
        <br />
        <br />
</asp:Panel>


    </div>
    </form>
</body>

</html>
