﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="live_Default" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="cs-CZ" translate="no">

<head runat="server">
    <title>...LiVE pAss...</title>
<link rel="icon" href="~/live-pass_ICON.ico"  type="image/x-icon"/>
<link rel="shortcut icon" href="~/live-pass_ICON.ico" type="image/x-icon" />
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<meta name="msapplication-TileImage" content="~/live--pass.png"/> 
<meta name="msapplication-TileColor" content="#ffB765"/>
</head>

<body style="color:#ff6b37;background-color:#ffB765
	 ">
    <form id="form1" runat="server">
    <div>
         <br /><br /><br /><br />
         
         <asp:Table runat="server" HorizontalAlign="Center"><asp:TableRow><asp:TableCell Width="700" HorizontalAlign="Center">
         
         <asp:HyperLink ID="HyperLink2"  runat="server" ForeColor="#ff9950" NavigateUrl="~/Default_ger.aspx?set=1">Deutsche Version</asp:HyperLink>       
        <br />
         <asp:HyperLink ID="HyperLink3"  runat="server" ForeColor="#ff9950" NavigateUrl="~/Default_ru.aspx?set=1">Версия на русском языке</asp:HyperLink>       
        <br />
         <asp:HyperLink ID="HyperLink4"  runat="server" ForeColor="#ff9950" NavigateUrl="~/Default_sp.aspx?set=1">Versión española</asp:HyperLink>       
        <br />
         <asp:HyperLink ID="HyperLink5"  runat="server" ForeColor="#ff9950" NavigateUrl="~/Default_fr.aspx?set=1">Version française</asp:HyperLink>       
        <br />
         <asp:HyperLink ID="HyperLink1"  runat="server" ForeColor="#ff9950" NavigateUrl="~/Default.aspx?set=1">English version</asp:HyperLink>       
        <br /><br /><br />
	<asp:Image runat="server" ImageUrl="~/live--pass.png"  Width="550" />
        <br />
        <br />
        <br />
        (c) 2000.13 Unknown Soldier as a Martin MwM Meeka <br />
	Kontakt na majitele<b>: mitti@white-magic.net</b><br />
        <asp:HyperLink  runat="server" ForeColor="#ff6b37" NavigateUrl="~/live-pass_desktop.png">LiVE pAss desktop picture</asp:HyperLink>       
<br />
        <asp:HyperLink  runat="server" ForeColor="#ff6b37" NavigateUrl="~/live-pass_notes.png">LiVE pAss notes</asp:HyperLink>       
<br />
        <asp:HyperLink  runat="server" ForeColor="#ff6b37" NavigateUrl="~/Code.aspx">LiVE pAss code</asp:HyperLink>       
<br />
        <asp:HyperLink  runat="server" ForeColor="#ff6b37" NavigateUrl="~/pf2015.png">PF 2015</asp:HyperLink>       
<br />
        <asp:HyperLink  runat="server" ForeColor="#ff6b37" NavigateUrl="~/download/">SECURE DOWNLOAD</asp:HyperLink>       
<br /><br />
        <asp:Button ID="cz" runat="server" OnClick="PTBLP1" BackColor="#c1d500" ForeColor="#ff6b37" Font-Bold="True" Text="aplikace LiVE-pAss_cz.exe  (10 752 B)"/>       
        
   </asp:TableCell>
   <asp:TableCell Width="400" >
   </asp:TableCell>
   <asp:TableCell HorizontalAlign="Center">
<asp:Image runat="server" ImageUrl="~/text3763.png" Width="323" ToolTip="www.c-o-b-r-a-s.org"/>
<br /><br /><br />
	<asp:Panel runat="server" HorizontalAlign="Center">
   
note2013/2/24 == Be thankfull, I am! ...LiVE pAss+...
        <br />
        <br />
        <br />
	Zde vlož něco, co znamená něco:<br />
	<asp:TextBox runat="server" ID="TextBox0" MaxLength="100" Width="300" Text="random" ></asp:TextBox>
	<asp:Button runat="server" Text="...Toč..." BackColor="#c1d500" ForeColor="#ff6b37" Font-Bold="True" />
	<br /><br />
	Zde náš automat vyrobí z něčeho nic, což je dobré pro vaše hesla v případě, že hacker sleduje vaši klávesnici, protože to dělají! Děkuji za pochopení...
	<br />
	<asp:Label runat="server" ID="Label0" BackColor="#c1d500" ForeColor="#ff6b37" OnPreRender="Label0_PreRender" Font-Bold="True"></asp:Label>
	<br />
	Označte text a zkopírujte ho do clipboardu stisknitím Ctrl+C a na místo hesla stiskem Ctrl+V.
	<br /><br /><br />
	 (Fleška Kingston DataTraveler !supported! vaším systémem je doporučena pro vaše hesla.) ;o)
        <br />
        <br />
	<br />
	( napiš mi, servře, mé budoucí heslo do textového souboru (*.txt) a
	<asp:Button runat="server" Text="---- dej mi ho ----" BackColor="#c1d500" ForeColor="#ff6b37" Font-Bold="True" OnClick="PTBLP" /> atd... )
	
</asp:Panel>


   </asp:TableCell></asp:TableRow></asp:Table>
  
    </div>
    </form>
</body>

</html>
